@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="domKuchniaWidok widok rel @(widok ? "" : "przygaszony")">
    <div class="abs kuchniaDoWiatrolap"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.DomWiatrolap)" class="wyroznionyGuzik"><img src="img/dom/kuchnia/kuchniaDoWiatrolap.png" /></button></div>
    <div class="abs doWyciskarki"><button class="wyroznionyGuzik" @onclick="() => wyciskarka = true"><img src="img/dom/kuchnia/wyciskarka.png" /></button></div>
    <div class="abs kuchniaDoPieca"><button class="wyroznionyGuzik" @onclick="() => piec = true"><img src="img/dom/kuchnia/piec.png" /></button></div>
    <div class="abs doKawy"><button class="wyroznionyGuzik" @onclick="() => mlynek = true"><img src="img/dom/kuchnia/mlynek.png" /></button></div>
    <div class="abs doZakwasu"><button class="wyroznionyGuzik" @onclick="() => zakwas = true"><img src="img/dom/kuchnia/zakwas.png" /></button></div>
</div>
<div class="abs narzedziePrzetwornia @(wyciskarka ? "wyciskarka" : deska ? "deska" : garnek ? "garnek" : patelnia ? "patelnia" : piec ? "piec" : mlynek ? "mlynekKawa" : "zakwas")Widok @(widok ? "" : "aktywne")">
    <div class="abs kuchniaNarzedzieConfirm @(zakwas || piec ? "goraPrawoIks" : "")"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedzie" disabled="@(!widokPiec)"><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button></div>
    @if (wyciskarka)
    {
        <div class="abs handelWyciskarka"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujWyciskarka.png" /></button></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaMarchew @(@WPortfelu("marchew") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("marchew")'><div class="abs wyciskarkalProduktIn">@WPortfelu("marchew")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaBurak @(@WPortfelu("burak") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("burak")'><div class="abs wyciskarkalProduktIn">@WPortfelu("burak")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaPomidor @(@WPortfelu("pomidor") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pomidor")'><div class="abs wyciskarkalProduktIn">@WPortfelu("pomidor")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaAnanas @(@WPortfelu("ananas") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("ananas")'><div class="abs wyciskarkalProduktIn">@WPortfelu("ananas")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaBorowka @(@WPortfelu("borówka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("borówka")'><div class="abs wyciskarkalProduktIn">@WPortfelu("borówka")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaBrzoskwinia @(@WPortfelu("brzoskwinia") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("brzoskwinia")'><div class="abs wyciskarkalProduktIn">@WPortfelu("brzoskwinia")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaCytryna @(@WPortfelu("cytryna") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("cytryna")'><div class="abs wyciskarkalProduktIn">@WPortfelu("cytryna")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaGrejpfrut @(@WPortfelu("grejpfrut") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("grejpfrut")'><div class="abs wyciskarkalProduktIn">@WPortfelu("grejpfrut")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaJablko @(@WPortfelu("jabłko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("jabłko")'><div class="abs wyciskarkalProduktIn">@WPortfelu("jabłko")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaMalina @(@WPortfelu("malina") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("malina")'><div class="abs wyciskarkalProduktIn">@WPortfelu("malina")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaMorela @(@WPortfelu("morela") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("morela")'><div class="abs wyciskarkalProduktIn">@WPortfelu("morela")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaPomarancza @(@WPortfelu("pomarańcza") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pomarańcza")'><div class="abs wyciskarkalProduktIn">@WPortfelu("pomarańcza")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaPorzeczka @(@WPortfelu("porzeczkaCzarna") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("porzeczkaCzarna")'><div class="abs wyciskarkalProduktIn">@WPortfelu("porzeczkaCzarna")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaTruskawka @(@WPortfelu("truskawka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("truskawka")'><div class="abs wyciskarkalProduktIn">@WPortfelu("truskawka")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaWisnia @(@WPortfelu("wiśnia") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("wiśnia")'><div class="abs wyciskarkalProduktIn">@WPortfelu("wiśnia")</div></div>
        <div class="abs wyciskarkaLCelow wyciskarkaLMarchwiowego">@Gracz.ProduktP("marchewSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLBuraczanego">@Gracz.ProduktP("burakSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLPomidorowego">@Gracz.ProduktP("pomidorSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLAnanasowego">@Gracz.ProduktP("ananasSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLBorowkowego">@Gracz.ProduktP("borówkaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLBrzoskwiniowego">@Gracz.ProduktP("brzoskwiniaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLCytrynowego">@Gracz.ProduktP("cytrynaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLGrejpfrutowego">@Gracz.ProduktP("grejpfrutSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLJablkowego">@Gracz.ProduktP("jabłkoSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLMalinowego">@Gracz.ProduktP("malinaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLMorelowego">@Gracz.ProduktP("morelaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLPomaranczowego">@Gracz.ProduktP("pomarańczaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLPorzeczkowego">@Gracz.ProduktP("porzeczkaCzarnaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLTruskawkowego">@Gracz.ProduktP("truskawkaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLWisniowego">@Gracz.ProduktP("wiśniaSok").Ilosc</div>
        <div class="abs tacaPodajnikWyciskarka">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktPodajnikWyciskarka klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa).png" />
                    <div class="abs produktIloscPodajnikWyciskarka">@produkt.Ilosc</div>
                </div>
            }
        </div>
        <div class="abs tacaEfektWyciskarka">
            @foreach (var produkt in taca)
            {
                @if (UzyskanySok(produkt.Nazwa) > 0)
                {
                    <div class="rel produktPodajnikWyciskarka">
                        <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa)Sok.png" />
                        <div class="abs produktIloscPodajnikWyciskarka czarny">@UzyskanySok(produkt.Nazwa)</div>
                    </div>
                }
            }
        </div>
    }
    @if (piec)
    {
        <div class="abs piecDoPieczywa"><button class="wyroznionyGuzik" @onclick="() => piecPieczywo = true"><img src="img/dom/kuchnia/piecPieczywo.png" /></button></div>
        <div class="abs piecDoPizzy"><button class="wyroznionyGuzik" @onclick="() => piecPizza = true"><img src="img/dom/kuchnia/piecPizza.png" /></button></div>
        <div class="abs piecDoCiasta"><button class="wyroznionyGuzik" @onclick="() => piecCiasto = true"><img src="img/dom/kuchnia/piecCiasto.png" /></button></div>
        <div class="abs piecDoWedlin"><button class="wyroznionyGuzik" @onclick="() => piecWedlina = true"><img src="img/dom/kuchnia/piecWedlina.png" /></button></div>       
    }
    @if(mlynek)
    {
        <div class="abs handelMlynekKawa"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujMlynek.png" /></button></div>
        <div class="abs produktyInMlynekKawa">
        @foreach (var produkt in taca)
        {
            <div class="rel produktInMlynekKawa @(@WPortfelu(produkt.Nazwa) > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick='() => NaTace(produkt.Nazwa)'>
                <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa).png" />
                <div class="abs lProduktuInMlynekKawa">@WPortfelu(produkt.Nazwa)</div>
            </div>
        }
        </div>
        <div class="abs mlynekLKawy">@Gracz.ZywnoscP("kawa").Ilosc</div>
        <div class="abs tacaPodajniklynekKawa">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktPodajnikMlynekKawa klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa).png" />
                    <div class="abs produktIloscPodajnikMlynekKawa">@produkt.Ilosc</div>
                </div>
            }
        </div>
        if (uzyskanaKawa > 0)
        {
            <div class="abs kawaEfektMlynekKawa">
                <img class="obrazekSieMiesci" src="img/dom/kuchnia/kawa.png" />
                <div class="abs efektIloscKawy">@uzyskanaKawa</div>
            </div>
        }
    }
    @if (zakwas)
    {
        <div class="abs liczbaZakwas wodaZakwas">@Gracz.Przedmiot("pelnaButelka").Ilosc</div>
        foreach (var zboze in zboza)
        {
            <div class="abs guzikZakwasChleb @(zboze)GuzikZakwas @(MoznaZakwasic(zboze) ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='async () => await Zakwas(zboze)'></div>
            <div class="abs liczbaZakwas @(zboze)MakaZakwas @(MoznaZakwasic(zboze) ? "" : "naCzerwono")">@Gracz.ProduktP($"{zboze}Maka").Ilosc</div>
            <div class="abs stanZakwas @(zboze)Zakwas @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu)"></div>
        }
    }
</div>
<div class="abs narzedzieKuchnia @(piecPieczywo ? "piecPieczywo" : piecPizza ? "piecPizza" : piecCiasto ? "piecCiasto" : "piecWedlina")Widok @(widokPiec ? "" : "aktywne")">
    <div class="abs kuchniaNarzedzieConfirm @(piecPieczywo ? "lewyDolIks" : "")"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedziePiec"><img src="img/dom/kuchnia/confirmNarzedziePlus.png" /></button></div>
    @if (piecPieczywo)
    {
        <div class="abs produktyInPiecPieczywo">
            @foreach (var zboze in zboza)
            {
                <div class="rel produktInPiecPieczywo @(Gracz.Zboza.First(z => z.Nazwa == zboze).Ilosc > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneZbozeNaMake(zboze)">
                    <img src="img/dom/kuchnia/@(zboze).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.Zboze(zboze).Ilosc</div>
                    <div class="abs stanZakwasuProduktInPiecPieczywo @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu)"></div>
                </div>
            }
        </div>
        <div class="abs pieczywoGraczaPiec chlebyGraczaPiec">
            @foreach (var zboze in zboza)
            {
                <div class="rel chlebGraczaPiec">
                    <img src="img/dom/kuchnia/@(zboze)Chleb.png" class="obrazekSieMiesci"/>
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{zboze}Chleb").Ilosc</div>
                </div>
            }
        </div>
        <div class="abs pieczywoGraczaPiec bulkiGraczaPiec">
            @foreach (var zboze in zboza)
            {
                <div class="rel chlebGraczaPiec">
                    <img src="img/dom/kuchnia/@(zboze)Bulka.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{zboze}Bulka").Ilosc</div>
                </div>
            }
        </div>
        <div class="abs pieczywoGraczaPiec buleczkaGraczaPiec">
            @foreach (var buleczka in slodkieBuleczki)
            {
                <div class="rel chlebGraczaPiec">
                    <img src="img/dom/kuchnia/@(buleczka)Buleczka.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{buleczka}Buleczka").Ilosc</div>
                </div>
            }
        </div>
        <div class="abs pieczeniePieczywaLampka pieczeniePieczywaLampkaChleb @(pieczeniePieczywa == 1 ? "swiec" : "zgas")" @onclick="() => pieczeniePieczywa = 1"></div>
        <div class="abs pieczeniePieczywaLampka pieczeniePieczywaLampkaBulka @(pieczeniePieczywa == 2 ? "swiec" : "zgas")" @onclick="() => pieczeniePieczywa = 2"></div>
        <div class="abs pieczeniePieczywaLampka pieczeniePieczywaLampkaBuleczka @(pieczeniePieczywa == 3 ? "swiec" : "zgas")" @onclick="() => pieczeniePieczywa = 3"></div>
        @if (makaPieczywo != "")
        {
            <img class="abs obrazekSieMiesci zbozeDoMakiPieczywo" src="img/dom/kuchnia/@(makaPieczywo).png" role="button" style="cursor: pointer;" @onclick="ZerujZbozeNaMake" />
            <div class="abs stanZakwasuBiezacejMakiPieczywo @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == makaPieczywo).PoziomZakwasu)"></div>
        }
        @if (smalecPieczywo != "")
        {
            <img class="abs obrazekSieMiesci smalecDoPieczywo" src="img/dom/kuchnia/@(smalecPieczywo).png" />
        }
        <div class="abs @(pieczeniePieczywa == 3 ? "piecSkladnikiDrozdzowki show" : "piecSkladnikiDrozdzowki op0")">
            <img class="abs obrazekSieMiesci jajoDoBuleczki" src="img/dom/kuchnia/jajo.png" />
            <img class="abs obrazekSieMiesci miodDoBuleczki" src="img/dom/kuchnia/miod.png" />
            @if (jajoDrozdzowka != "")
            {
                <img class="abs obrazekSieMiesci jajoCzyjeDoBuleczki" src="img/dom/kuchnia/@(jajoDrozdzowka).png" />
            }
            @if (nadzienieDrozdzowka != "")
            {
                <img class="abs obrazekSieMiesci nadzienieDoBuleczki" src="img/dom/kuchnia/@(nadzienieDrozdzowka).png" />
            }
        </div>
        @if (pieczywoGotowe != "")
        {
            <img class="abs obrazekSieMiesci pieczywoGotowePiec" src="img/dom/kuchnia/@(pieczywoGotowe).png" />
        }
    }
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool wyciskarka = false;
    private bool deska = false;
    private bool garnek = false;
    private bool patelnia = false;
    private bool piec = false;
    private bool mlynek = false;
    private bool zakwas = false;
    private bool widok => !wyciskarka && !deska && !garnek && !patelnia && !piec && !mlynek && !zakwas;
    private bool piecPieczywo = false;
    private bool piecPizza = false;
    private bool piecCiasto = false;
    private bool piecWedlina = false;
    private bool widokPiec => !piecPieczywo && !piecPizza && !piecCiasto && !piecWedlina;
    private string[] zboza = [ "zyto", "jeczmien", "pszenica", "ryz", "owies", "gryka", "orkisz"];
    private string[] smalce = [ "ges", "kaczka", "swinia"];
    private string[] jajka = [ "kura", "ges", "kaczka", "indyk"];
    private string[] slodkieBuleczki = [ "brzoskwinia", "śliwka", "wiśnia", "jabłko", "gruszka", "malina", "twarog"];
    private int pieczeniePieczywa = 0;
    private string makaPieczywo = "";
    private string smalecPieczywo = "";
    private string jajoDrozdzowka = "";
    private string nadzienieDrozdzowka = "";
    private string pieczywoGotowe = "";
    private void ZamknijNarzedzie() => wyciskarka = deska = garnek = patelnia = piec = mlynek = zakwas = false;
    private void ZamknijNarzedziePiec() => piecPieczywo = piecPizza = piecCiasto = piecWedlina = false;
    public class ProduktNaTace(string nazwa, int ilosc = 0)
    {
        public string Nazwa { get; set; } = nazwa;
        public int Ilosc { get; set; } = ilosc;
    }
    List<ProduktNaTace> tacaWyciskarka = [ new("marchew"), new("burak"), new("pomidor"), new("jabłko"), new("pomarańcza"), new("grejpfrut"), new("cytryna"), new("ananas"), new("brzoskwinia"), new("morela"), new("wiśnia"), new("truskawka"), new("malina"), new("borówka"), new("porzeczkaCzarna")];
    List<ProduktNaTace> tacaDeska = [];
    List<ProduktNaTace> tacaGarnek = [];
    List<ProduktNaTace> tacaPatelnia = [];
    List<ProduktNaTace> tacaPiec = [];
    List<ProduktNaTace> tacaMlynek = [new("ziarnaKawy"), new("pelnaButelka"), new("krowaMleko"), new("kozaMleko"), new("owcaMleko"), new("drewno") ];
    List<ProduktNaTace> taca => wyciskarka ? tacaWyciskarka : deska ? tacaDeska : garnek ? tacaGarnek : patelnia ? tacaPatelnia : piec ? tacaPiec : tacaMlynek;
    private int UzyskanySok(string wyciskany) => tacaWyciskarka.First(t => t.Nazwa == wyciskany).Ilosc / 3;
    private void WybraneZbozeNaMake(string zboze)
    {
        if (Gracz.Zboza.First(z => z.Nazwa == zboze).Ilosc < 1) return;
        makaPieczywo = zboze;
    }
    private void ZerujZbozeNaMake() => makaPieczywo = "";
    private int uzyskanaKawa => new[] { tacaMlynek.First(t => t.Nazwa == "drewno").Ilosc, tacaMlynek.First(t => t.Nazwa == "pelnaButelka").Ilosc, tacaMlynek.First(t => t.Nazwa == "ziarnaKawy").Ilosc, tacaMlynek.Where(t => t.Nazwa.EndsWith("Mleko")).Sum(t => t.Ilosc) }.Min();
    private bool MoznaZakwasic(string zboze) => Gracz.JestPrzedmiot("pelnaButelka") && Gracz.JestProduktP($"{zboze}Maka") && Gracz.Zboza.First(z => z.Nazwa == zboze).MoznaZakwasicDzisiaj && Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu < 3;
    private string ZakwasKolor(int poziom) => poziom switch { 0 => "progresCzerwony", 1 => "progresPomaranczowy", 2 => "progresZolty", _ => "progresZielony" };
    private async Task Zakwas(string zboze)
    {
        if (!MoznaZakwasic(zboze)) return;
        Gracz.Przedmiot("pelnaButelka").Ilosc--;
        Gracz.ProduktP($"{zboze}Maka").Ilosc--;
        Gracz.Zboza.First(z => z.Nazwa == zboze).OstatniDzienZakwaszenia = DateTime.Now.Day;
        Gracz.Zboza.First(z => z.Nazwa == zboze).OstatniMiesiacZakwaszenia = DateTime.Now.Month;
        Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu++;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    private int WPortfelu(string nazwa)
    {
        var naTacy = taca.First(t => t.Nazwa == nazwa).Ilosc;
        IDar uGracza = Gracz.Przedmioty.Cast<IDar>().Concat(Gracz.Owoce.Cast<IDar>()).Concat(Gracz.Warzywa.Cast<IDar>()).Concat(Gracz.Zboza.Cast<IDar>()).Concat(Gracz.ProduktyZwierzece.Cast<IDar>()).Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == nazwa);
        return uGracza.Ilosc - naTacy;
    }
    private void NaTace(string nazwa)
    {
        if (WPortfelu(nazwa) < 1) return;
        taca.First(t => t.Nazwa == nazwa).Ilosc++;
    }
    private void ZTacy(string nazwa) => taca.First(t => t.Nazwa == nazwa).Ilosc--;
    private async Task Handel()
    {
        foreach (var produkt in taca)
        {
            if (produkt.Ilosc > 0)
            {
                IDar uGracza = Gracz.Przedmioty.Cast<IDar>().Concat(Gracz.Owoce.Cast<IDar>()).Concat(Gracz.Warzywa.Cast<IDar>()).Concat(Gracz.Zboza.Cast<IDar>()).Concat(Gracz.ProduktyZwierzece.Cast<IDar>()).Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == produkt.Nazwa);
                uGracza.Ilosc -= produkt.Ilosc;
            }
        }
        if (wyciskarka)
            foreach (var produkt in taca)
                if (UzyskanySok(produkt.Nazwa) > 0)
                    Gracz.ProduktP($"{produkt.Nazwa}Sok").Ilosc += UzyskanySok(produkt.Nazwa);
        if (mlynek && uzyskanaKawa > 0)
            Gracz.ZywnoscP("kawa").Ilosc += uzyskanaKawa;
        foreach (var produkt in taca)
            produkt.Ilosc = 0;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
}