@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="domKuchniaWidok widok rel @(widok ? "" : "przygaszony")">
    <div class="abs kuchniaDoWiatrolap"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.DomWiatrolap)" class="wyroznionyGuzik"><img src="img/dom/kuchnia/kuchniaDoWiatrolap.png" /></button></div>
    <div class="abs doWyciskarki"><button class="wyroznionyGuzik" @onclick="() => wyciskarka = true"><img src="img/dom/kuchnia/wyciskarka.png" /></button></div>
    <div class="abs kuchniaDoPieca"><button class="wyroznionyGuzik" @onclick="() => piec = true"><img src="img/dom/kuchnia/piec.png" /></button></div>
    <div class="abs doKawy"><button class="wyroznionyGuzik" @onclick="() => mlynek = true"><img src="img/dom/kuchnia/mlynek.png" /></button></div>
    <div class="abs doZakwasu"><button class="wyroznionyGuzik" @onclick="() => zakwas = true"><img src="img/dom/kuchnia/zakwas.png" /></button></div>
</div>
<div class="abs narzedziePrzetwornia @(wyciskarka ? "wyciskarka" : deska ? "deska" : garnek ? "garnek" : patelnia ? "patelnia" : piec ? "piec" : mlynek ? "mlynekKawa" : "zakwas")Widok @(widok ? "" : "aktywne")">
    <div class="abs kuchniaNarzedzieConfirm @(zakwas || piec ? "goraPrawoIks" : "")"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedzie" disabled="@(!widokPiec)"><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button></div>
    @if (wyciskarka)
    {
        <div class="abs handelWyciskarka"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujWyciskarka.png" /></button></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaMarchew @(@WPortfelu("marchew") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("marchew")'><div class="abs wyciskarkalProduktIn">@WPortfelu("marchew")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaBurak @(@WPortfelu("burak") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("burak")'><div class="abs wyciskarkalProduktIn">@WPortfelu("burak")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaPomidor @(@WPortfelu("pomidor") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pomidor")'><div class="abs wyciskarkalProduktIn">@WPortfelu("pomidor")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaAnanas @(@WPortfelu("ananas") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("ananas")'><div class="abs wyciskarkalProduktIn">@WPortfelu("ananas")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaBorowka @(@WPortfelu("borówka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("borówka")'><div class="abs wyciskarkalProduktIn">@WPortfelu("borówka")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaBrzoskwinia @(@WPortfelu("brzoskwinia") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("brzoskwinia")'><div class="abs wyciskarkalProduktIn">@WPortfelu("brzoskwinia")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaCytryna @(@WPortfelu("cytryna") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("cytryna")'><div class="abs wyciskarkalProduktIn">@WPortfelu("cytryna")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaGrejpfrut @(@WPortfelu("grejpfrut") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("grejpfrut")'><div class="abs wyciskarkalProduktIn">@WPortfelu("grejpfrut")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaJablko @(@WPortfelu("jabłko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("jabłko")'><div class="abs wyciskarkalProduktIn">@WPortfelu("jabłko")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaMalina @(@WPortfelu("malina") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("malina")'><div class="abs wyciskarkalProduktIn">@WPortfelu("malina")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaMorela @(@WPortfelu("morela") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("morela")'><div class="abs wyciskarkalProduktIn">@WPortfelu("morela")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaPomarancza @(@WPortfelu("pomarańcza") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pomarańcza")'><div class="abs wyciskarkalProduktIn">@WPortfelu("pomarańcza")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaPorzeczka @(@WPortfelu("porzeczkaCzarna") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("porzeczkaCzarna")'><div class="abs wyciskarkalProduktIn">@WPortfelu("porzeczkaCzarna")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaTruskawka @(@WPortfelu("truskawka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("truskawka")'><div class="abs wyciskarkalProduktIn">@WPortfelu("truskawka")</div></div>
        <div class="abs wyciskarkaProduktIn wyciskarkaWisnia @(@WPortfelu("wiśnia") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("wiśnia")'><div class="abs wyciskarkalProduktIn">@WPortfelu("wiśnia")</div></div>
        <div class="abs wyciskarkaLCelow wyciskarkaLMarchwiowego">@Gracz.ProduktP("marchewSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLBuraczanego">@Gracz.ProduktP("burakSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLPomidorowego">@Gracz.ProduktP("pomidorSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLAnanasowego">@Gracz.ProduktP("ananasSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLBorowkowego">@Gracz.ProduktP("borówkaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLBrzoskwiniowego">@Gracz.ProduktP("brzoskwiniaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLCytrynowego">@Gracz.ProduktP("cytrynaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLGrejpfrutowego">@Gracz.ProduktP("grejpfrutSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLJablkowego">@Gracz.ProduktP("jabłkoSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLMalinowego">@Gracz.ProduktP("malinaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLMorelowego">@Gracz.ProduktP("morelaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLPomaranczowego">@Gracz.ProduktP("pomarańczaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLPorzeczkowego">@Gracz.ProduktP("porzeczkaCzarnaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLTruskawkowego">@Gracz.ProduktP("truskawkaSok").Ilosc</div>
        <div class="abs wyciskarkaLCelow wyciskarkaLWisniowego">@Gracz.ProduktP("wiśniaSok").Ilosc</div>
        <div class="abs tacaPodajnikWyciskarka">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktPodajnikWyciskarka klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa).png" />
                    <div class="abs produktIloscPodajnikWyciskarka">@produkt.Ilosc</div>
                </div>
            }
        </div>
        <div class="abs tacaEfektWyciskarka">
            @foreach (var produkt in taca)
            {
                @if (UzyskanySok(produkt.Nazwa) > 0)
                {
                    <div class="rel produktPodajnikWyciskarka">
                        <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa)Sok.png" />
                        <div class="abs produktIloscPodajnikWyciskarka czarny">@UzyskanySok(produkt.Nazwa)</div>
                    </div>
                }
            }
        </div>
    }
    @if (piec)
    {
        <div class="abs piecDoPieczywa"><button class="wyroznionyGuzik" @onclick="() => piecPieczywo = true" disabled="@(!widokPiec)"><img src="img/dom/kuchnia/piecPieczywo.png" /></button></div>
        <div class="abs piecDoPizzy"><button class="wyroznionyGuzik" @onclick="() => piecPizza = true" disabled="@(!widokPiec)"><img src="img/dom/kuchnia/piecPizza.png" /></button></div>
        <div class="abs piecDoCiasta"><button class="wyroznionyGuzik" @onclick="() => piecCiasto = true" disabled="@(!widokPiec)"><img src="img/dom/kuchnia/piecCiasto.png" /></button></div>
        <div class="abs piecDoWedlin"><button class="wyroznionyGuzik" @onclick="() => piecWedlina = true" disabled="@(!widokPiec)"><img src="img/dom/kuchnia/piecWedlina.png" /></button></div>       
    }
    @if(mlynek)
    {
        <div class="abs handelMlynekKawa"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujMlynek.png" /></button></div>
        <div class="abs produktyInMlynekKawa">
        @foreach (var produkt in taca)
        {
            <div class="rel produktInMlynekKawa @(@WPortfelu(produkt.Nazwa) > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick='() => NaTace(produkt.Nazwa)'>
                <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa).png" />
                <div class="abs lProduktuInMlynekKawa">@WPortfelu(produkt.Nazwa)</div>
            </div>
        }
        </div>
        <div class="abs mlynekLKawy">@Gracz.ZywnoscP("kawa").Ilosc</div>
        <div class="abs tacaPodajniklynekKawa">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktPodajnikMlynekKawa klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/dom/kuchnia/@(produkt.Nazwa).png" />
                    <div class="abs produktIloscPodajnikMlynekKawa">@produkt.Ilosc</div>
                </div>
            }
        </div>
        if (uzyskanaKawa > 0)
        {
            <div class="abs kawaEfektMlynekKawa">
                <img class="obrazekSieMiesci" src="img/dom/kuchnia/kawa.png" />
                <div class="abs efektIloscKawy">@uzyskanaKawa</div>
            </div>
        }
    }
    @if (zakwas)
    {
        <div class="abs liczbaZakwas wodaZakwas">@Gracz.Przedmiot("pelnaButelka").Ilosc</div>
        foreach (var zboze in zboza)
        {
            <div class="abs guzikZakwasChleb @(zboze)GuzikZakwas @(MoznaZakwasic(zboze) ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='async () => await Zakwas(zboze)'></div>
            <div class="abs liczbaZakwas @(zboze)MakaZakwas @(MoznaZakwasic(zboze) ? "" : "naCzerwono")">@Gracz.ProduktP($"{zboze}Maka").Ilosc</div>
            <div class="abs stanZakwas @(zboze)Zakwas @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu)"></div>
        }
    }
</div>
<div class="abs narzedzieKuchnia @(piecPieczywo ? "piecPieczywo" : piecPizza ? "piecPizza" : piecCiasto ? "piecCiasto" : "piecWedlina")Widok @(widokPiec ? "" : "aktywne")">
    <div class="abs kuchniaNarzedzieConfirm @(piecPieczywo ? "lewyDolIks" : "")"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedziePiec"><img src="img/dom/kuchnia/confirmNarzedziePlus.png" /></button></div>
    @if (piecPieczywo)
    {
        <div class="abs pieczeniePiecPieczywo"><button class="wyroznionyGuzik" @onclick="Pieczenie"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujPiecPieczywo.png" /></button></div>
        <div class="abs produktyInPiecPieczywo">
            @foreach (var zboze in zboza)
            {
                <div class="rel produktInPiecPieczywo @(Gracz.JestProduktP($"{zboze}Maka") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneZbozeNaMake(zboze)">
                    <img src="img/dom/kuchnia/@(zboze).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktP($"{zboze}Maka").Ilosc</div>
                    <div class="abs stanZakwasuProduktInPiecPieczywo @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu)"></div>
                </div>
            }
            @foreach (var ptak in jajka)
            {
                <div class="rel produktInPiecPieczywo @(Gracz.JestProduktZ($"{ptak}Jajo") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneJajoNaBuleczke(ptak)">
                    <img src="img/dom/kuchnia/@(ptak)Jajo.png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktZ($"{ptak}Jajo").Ilosc</div>
                </div>
            }
            @foreach (var zwierz in smalce)
            {
                <div class="rel produktInPiecPieczywo @(Gracz.ProduktZ($"{zwierz}Smalec").Ilosc > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneSmalecNaPieczywo(zwierz)">
                    <img src="img/dom/kuchnia/@(zwierz)Smalec.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec czarny">@Gracz.ProduktZ($"{zwierz}Smalec").Ilosc</div>
                </div>
            }
            @foreach (var nadzienie in slodkieBuleczki)
            {
                <div class="rel produktInPiecPieczywo @((nadzienie != "twarog" ? Gracz.Owoc(nadzienie).Ilosc > 0 : Gracz.JestProduktP(nadzienie)) ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneNadzienieNaBuleczke(nadzienie)">
                    <img src="img/dom/kuchnia/@(nadzienie).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@((nadzienie != "twarog" ? Gracz.Owoc(nadzienie) : Gracz.ProduktP(nadzienie)).Ilosc)</div>
                </div>
            }
        </div>
        <div class="abs pieczywoGraczaPiec chlebyGraczaPiec">
            @foreach (var zboze in zboza)
            {
                <div class="rel chlebGraczaPiec">
                    <img src="img/dom/kuchnia/@(zboze)Chleb.png" class="obrazekSieMiesci"/>
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{zboze}Chleb").Ilosc</div>
                </div>
            }
        </div>
        <div class="abs pieczywoGraczaPiec bulkiGraczaPiec">
            @foreach (var zboze in zboza)
            {
                <div class="rel chlebGraczaPiec">
                    <img src="img/dom/kuchnia/@(zboze)Bulka.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{zboze}Bulka").Ilosc</div>
                </div>
            }
        </div>
        <div class="abs pieczywoGraczaPiec buleczkaGraczaPiec">
            @foreach (var buleczka in slodkieBuleczki)
            {
                <div class="rel chlebGraczaPiec">
                    <img src="img/dom/kuchnia/@(buleczka)Buleczka.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{buleczka}Buleczka").Ilosc</div>
                </div>
            }
        </div>
        <div class="abs pieczeniePieczywaLampka pieczeniePieczywaLampkaChleb @(pieczeniePieczywa == 1 ? "swiec" : "zgas")" @onclick="() => pieczeniePieczywa = 1"></div>
        <div class="abs pieczeniePieczywaLampka pieczeniePieczywaLampkaBulka @(pieczeniePieczywa == 2 ? "swiec" : "zgas")" @onclick="() => pieczeniePieczywa = 2"></div>
        <div class="abs pieczeniePieczywaLampka pieczeniePieczywaLampkaBuleczka @(pieczeniePieczywa == 3 ? "swiec" : "zgas")" @onclick="() => pieczeniePieczywa = 3"></div>
        <div class="abs lWodyPiecPieczywo">@Gracz.Przedmiot("pelnaButelka").Ilosc</div>
        <div class="abs lSoliPiecPieczywo">@Gracz.ZywnoscP("sol").Ilosc</div>
        @if (makaPieczywo != "")
        {
            <img class="abs obrazekSieMiesci zbozeDoMakiPieczywo" src="img/dom/kuchnia/@(makaPieczywo).png" role="button" @onclick='() => makaPieczywo = ""' />
            <div class="abs stanZakwasuBiezacejMakiPieczywo @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == makaPieczywo).PoziomZakwasu)"></div>
        }
        @if (smalecPieczywo != "")
        {
            <img class="abs obrazekSieMiesci smalecDoPieczywo" src="img/dom/kuchnia/@(smalecPieczywo).png" role="button" @onclick='() => smalecPieczywo = ""' />
        }
        <div class="abs @(pieczeniePieczywa == 3 ? "piecSkladnikiDrozdzowki show" : "piecSkladnikiDrozdzowki op0")">
            <img class="abs obrazekSieMiesci jajoDoBuleczki" src="img/dom/kuchnia/jajo.png" />
            <img class="abs obrazekSieMiesci miodDoBuleczki" src="img/dom/kuchnia/miod.png" />
            <div class="abs lMioduPiecPieczywo">@Gracz.ProduktZ("miod").Ilosc</div>
            @if (jajoDrozdzowka != "")
            {
                <img class="abs obrazekSieMiesci jajoCzyjeDoBuleczki" src="img/dom/kuchnia/@(jajoDrozdzowka).png" role="button" @onclick='() => jajoDrozdzowka = ""' />
            }
            @if (nadzienieDrozdzowka != "")
            {
                <img class="abs obrazekSieMiesci nadzienieDoBuleczki" src="img/dom/kuchnia/@(nadzienieDrozdzowka).png" role="button" @onclick='() => nadzienieDrozdzowka = ""'/>
            }
        </div>
        @if (pieczywoGotowe != "")
        {
            <img class="abs obrazekSieMiesci pieczywoGotowePiec" src="img/dom/kuchnia/@(pieczywoGotowe).png" />
        }
    }
    @if (piecPizza)
    {
        @if (saSkladnikiNaPizze)
        {
            <div class="abs pieczeniePiecPizza"><button class="wyroznionyGuzik" @onclick="Pieczenie"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujPiecPizza.png" /></button></div>
        }
        <div class="abs produktyPizzyIn">
            @foreach (var zboze in zboza)
            {
                <div class="rel produktInPizza @(Gracz.JestProduktP($"{zboze}Maka") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneZbozeNaPizze(zboze)">
                    <img src="img/dom/kuchnia/@(zboze).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktP($"{zboze}Maka").Ilosc</div>
                    <div class="abs stanZakwasuProduktInPiecPieczywo @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu)"></div>
                </div>
            }
            @foreach (var ser in sery)
            {
                <div class="rel produktInPizza @(Gracz.JestProduktP($"{ser}Ser") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybranySerNaPizze(ser)">
                    <img src="img/dom/kuchnia/@(ser)Ser.png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktP($"{ser}Ser").Ilosc</div>
                </div>
            }
            @foreach (var skladnik in skladnikiPizza)
            {
                <div class="rel produktInPizza @(WalidacjaSkladnikaPizzy(skladnik) ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybranySkladnikNaPizze(skladnik)">
                    <img src="img/dom/kuchnia/@(skladnik).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@SkladnikPizzy(skladnik).Ilosc</div>
                </div>
            }
        </div>
        <div class="abs lSkladnikowPizza lWodaPizza">@Gracz.Przedmiot("pelnaButelka").Ilosc</div>
        <div class="abs lSkladnikowPizza lSolPizza">@Gracz.ZywnoscP("sol").Ilosc</div>
        <div class="abs lSkladnikowPizza lOlejPizza">@Gracz.ZywnoscP("olej").Ilosc</div>
        <div class="abs lSkladnikowPizza lPomidoryPizza">@Gracz.Warzywo("pomidor").Ilosc</div>
        <div class="abs lSkladnikowPizza lBazyliaPizza">@Gracz.ZywnoscP("bazylia").Ilosc</div>
        <div class="abs lSkladnikowPizza lOreganoPizza">@Gracz.ZywnoscP("oregano").Ilosc</div>
        @if (serPizza != "")
        {
            <img class="abs obrazekContain serNaPizze" src="img/dom/kuchnia/@(serPizza)Ser.png" role="button" @onclick='() => serPizza = ""' />
        }
        @if (makaPizza != "")
        {
            <img class="abs obrazekSieMiesci zbozeDoMakiPizza" src="img/dom/kuchnia/@(makaPizza).png" role="button" @onclick='() => makaPizza = ""' />
            <div class="abs stanZakwasuBiezacejMakiPizza @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == "pszenica").PoziomZakwasu)"></div>
        }
        <div class="abs pizzaWlasciwa"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pizzaCiasto.png"/>
            @foreach (var skladnik in skladnikiPizza)
            {
                @if (pizzaRobocza.Contains(skladnik))
                {
                    <img class="abs pizzaNarzut @(skladnik)Kawalki obrazekSieMiesci" src="img/dom/kuchnia/pizza/@(skladnik)Kawalki.png" />
                }
            }
        </div>
        <div class="abs pizzaWPizza"><button class="wyroznionyGuzik" @onclick="() => pokazPizze = true"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pizzaWPizza.png"/></button></div>
        @if (pokazPizze == true)
        {
           <div class="abs modalPotwierdzeniePizza">
                <div class="rel modalTrescPotwierdzeniePizza cPoint @(Gracz.JestProduktP("pizza") ? "" : "modalNieWidacPizzy")" @onclick="() => pokazPizze = false">
                    @if (Gracz.JestProduktP("pizza"))
                    {
                        <img class="obrazekSieMiesci" src="img/dom/kuchnia/pizzaCiasto.png" />
                        @foreach (var skladnik in skladnikiPizza)
                        {
                            @if (Gracz.ProduktyPrzetworzone.First(p => p.Nazwa == "pizza").Pizza.Contains(skladnik))
                            {
                                <img class="abs pizzaNarzut @(skladnik)Kawalki obrazekSieMiesci" src="img/dom/kuchnia/pizza/@(skladnik)Kawalki.png" />
                            }
                        }
                    }
                </div>
           </div> 
        }
        @if (pokazPotwierdzeniePizza)
        {
            <div class="abs modalPotwierdzeniePizza">
                <div class="rel modalTrescPotwierdzeniePizza modalPtaszki">
                    <div class="abs modalPrzyciski">
                        <button class="wyroznionyGuzik" @onclick="UpiecPizzeZAnimacja"><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button>
                        <button class="wyroznionyGuzik" @onclick="() => pokazPotwierdzeniePizza = false"><img src="img/dom/kuchnia/pizza/anulujNowaPizza.png" /></button>
                    </div>
                </div>
            </div>
        }
    }
    @if (piecCiasto)
    {
        <div class="abs produktyInPiecCiasto">
            @foreach (var zboze in zboza)
            {
                <div class="rel produktInPiecCiasto @(Gracz.JestProduktP($"{zboze}Maka") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneZbozeNaCiasto(zboze)">
                    <img src="img/dom/kuchnia/@(zboze).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktP($"{zboze}Maka").Ilosc</div>
                    <div class="abs stanZakwasuProduktInPiecPieczywo @ZakwasKolor(Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu)"></div>
                </div>
            }
            @foreach (var ptak in jajka)
            {
                <div class="rel produktInPiecCiasto @(Gracz.JestProduktZ($"{ptak}Jajo") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneJajoNaCiasto(ptak)">
                    <img src="img/dom/kuchnia/@(ptak)Jajo.png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktZ($"{ptak}Jajo").Ilosc</div>
                </div>
            }
            <div class="rel produktInPiecCiasto @(Gracz.JestProduktP($"twarog") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => twarogCiasto = !twarogCiasto">
                <img src="img/dom/kuchnia/twarog.png" class="obrazekSieMiesci" />
                <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktP($"twarog").Ilosc</div>
            </div>
            <div class="rel produktInPiecCiasto @(Gracz.JestProduktP($"smietana") ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => smietanaCiasto = !smietanaCiasto">
                <img src="img/dom/kuchnia/smietana.png" class="obrazekSieMiesci" />
                <div class="abs lZbozProduktInPiecPieczywo">@Gracz.ProduktP($"smietana").Ilosc</div>
            </div>
            @foreach (var owoc in nadzieniaCiast)
            {
                <div class="rel produktInPiecCiasto @(Gracz.JestOwoc(owoc) ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneNadzienieNaCiasto(owoc)">
                    <img src="img/dom/kuchnia/@(owoc).png" class="obrazekSieMiesci" />
                    <div class="abs lZbozProduktInPiecPieczywo">@Gracz.Owoc(owoc).Ilosc</div>
                </div>
            }
        </div>
        <!--(opcjonalne twarog i smietana, opcjonalne nadzienie bedzie select) -->
        <div class="abs lProduktuCiasto lMioduCiasto">@Gracz.ProduktZ("miod").Ilosc</div>
        <div class="abs lProduktuCiasto lMaslaCiasto">@Gracz.ProduktP("maslo").Ilosc</div>
    }
    @if (piecWedlina)
    {
        <div class="abs pieczeniePiecWedlina"><button class="wyroznionyGuzik" @onclick="Pieczenie"><img class="obrazekSieMiesci" src="img/dom/kuchnia/pracujPiecWedlina.png" /></button></div>
        <div class="abs produktyInPiecWedlina">
            @foreach (var element in naWedlineZ)
            {
                <div class="rel produktInPiecWedlina @(Gracz.ProduktZ(element).Ilosc > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneMiesoNaWedline(element)">
                    <img src="img/dom/kuchnia/@(element).png" class="obrazekContain" />
                    <div class="abs liczbaChlebowGraczaPiec czarny">@Gracz.ProduktZ(element).Ilosc</div>
                </div>
            }
            @foreach (var element in naWedlineP)
            {
                <div class="rel produktInPiecWedlina @(Gracz.ProduktP(element).Ilosc > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneMiesoNaWedline(element)">
                    <img src="img/dom/kuchnia/@(element).png" class="obrazekContain" />
                    <div class="abs liczbaChlebowGraczaPiec czarny">@Gracz.ProduktP(element).Ilosc</div>
                </div>
            }
            @foreach (var jajo in jajka)
            {
                <div class="rel produktInPiecWedlina @(Gracz.ProduktZ($"{jajo}Jajo").Ilosc > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneJajoNaWedline(jajo)">
                    <img src="img/dom/kuchnia/@(jajo)Jajo.png" class="obrazekContain" />
                    <div class="abs liczbaChlebowGraczaPiec czarny">@Gracz.ProduktZ($"{jajo}Jajo").Ilosc</div>
                </div>
            }
            @foreach (var smalec in smalce)
            {
                <div class="rel produktInPiecWedlina @(Gracz.ProduktZ($"{smalec}Smalec").Ilosc > 0 ? "klikalneDivZieloneRel" : "nieMoznaKliknac")" @onclick="() => WybraneSmalecNaWedline(smalec)">
                    <img src="img/dom/kuchnia/@(smalec)Smalec.png" class="obrazekContain" />
                    <div class="abs liczbaChlebowGraczaPiec czarny">@Gracz.ProduktZ($"{smalec}Smalec").Ilosc</div>
                </div>
            }
        </div>
        @if (miesoWedlina != "")
        {
            <img class="abs obrazekContain miesoNaWedline" src="img/dom/kuchnia/@(miesoWedlina).png" role="button" @onclick='() => miesoWedlina = ""' />
        }
        <div class="abs lSkladnikPiecWedlina lSoliPiecWedlina">@Gracz.ZywnoscP("sol").Ilosc</div>
        <div class="abs lSkladnikPiecWedlina lMajerankuPiecWedlina">@Gracz.ZywnoscP("majeranek").Ilosc</div>
        <div class="abs lSkladnikPiecWedlina lPieprzuPiecWedlina">@Gracz.ZywnoscP("czarnyPieprz").Ilosc</div>
        <div class="abs lSkladnikPiecWedlina lCzosnkuPiecWedlina">@Gracz.Warzywo("czosnek").Ilosc</div>
        @if (wybranyPasztet)
        {
            <div class="abs pieczeniePasztetu">
                <img class="abs obrazekContain cebulaNaPasztet" src="img/dom/kuchnia/cebula.png" />
                <div class="abs lSkladnikPiecWedlina lCebuliPiecWedlina">@Gracz.Warzywo("cebula").Ilosc</div>
                <img class="abs obrazekContain jajoNaPasztet" src="img/dom/kuchnia/jajo.png" />
                @if (jajoWedlina != "")
                {
                    <img class="abs obrazekContain jajoCzyjeNaPasztet" src="img/dom/kuchnia/@(jajoWedlina).png" role="button" @onclick='() => jajoWedlina = ""' />
                }
                <img class="abs obrazekContain smalecNaPasztet" src="img/dom/kuchnia/smalec.png" />
                @if (smalecWedlina != "")
                {
                    <img class="abs obrazekContain smalecCzyjNaPasztet" src="img/dom/kuchnia/@(smalecWedlina).png" role="button" @onclick='() => smalecWedlina = ""' />
                }
            </div>
        }
        <div class="abs wedlinyGracza">
            @foreach (var wedlina in wedliny)
            {
                <div class="rel wedlinaGracza">
                    <img src="img/dom/kuchnia/@(wedlina)Wedlina.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{wedlina}Wedlina").Ilosc</div>
                </div>
            }
            @foreach (var pasztet in pasztety)
            {
                <div class="rel wedlinaGracza">
                    <img src="img/dom/kuchnia/@(pasztet)Pasztet.png" class="obrazekSieMiesci" />
                    <div class="abs liczbaChlebowGraczaPiec">@Gracz.ProduktP($"{pasztet}Pasztet").Ilosc</div>
                </div>
            }
        </div>
        @if (wedlinaGotowa != "")
        {
            <img class="abs obrazekSieMiesci wedlinaGotowaPiec" src="img/dom/kuchnia/@(wedlinaGotowa).png" />
        }
    }
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    protected override void OnParametersSet()
    {
        if (Gracz.Statystyki.OtwarteOkno == "piecPizza")
        {
            piec = true;
            piecPizza = true;
            Gracz.Statystyki.OtwarteOkno = "";
        }
    }
    private bool wyciskarka = false;
    private bool deska = false;
    private bool garnek = false;
    private bool patelnia = false;
    private bool piec = false;
    private bool mlynek = false;
    private bool zakwas = false;
    private bool widok => !wyciskarka && !deska && !garnek && !patelnia && !piec && !mlynek && !zakwas;
    private bool piecPieczywo = false;
    private bool piecPizza = false;
    private bool piecCiasto = false;
    private bool piecWedlina = false;
    private bool widokPiec => !piecPieczywo && !piecPizza && !piecCiasto && !piecWedlina;
    private string[] zboza = [ "zyto", "jeczmien", "pszenica", "ryz", "owies", "gryka", "orkisz"];
    private string[] smalce = [ "ges", "kaczka", "swinia"];
    private string[] jajka = [ "kura", "ges", "kaczka", "indyk"];
    private string[] sery = [ "krowa", "koza", "owca"];
    private string[] slodkieBuleczki = [ "brzoskwinia", "śliwka", "wiśnia", "jabłko", "gruszka", "malina", "twarog"];
    private string[] skladnikiPizza = ["papryka", "cebula", "kukurydza", "ogórek", "ananas", "oliwki", "pieczarka", "rydz", "podgrzybek", "borowik", "kurka", "kielbasaWedlina", "salamiWedlina", "lopatkaWedlina", "poledwicaWedlina", "boczekWedlina", "szynkaWedlina", "schabWedlina", "kurczakWedlina", "indykWedlina", "krolikPasztet", "drobPasztet", "swiniaPasztet"];
    private HashSet<string> pizzaRobocza = [];
    private bool WalidacjaSkladnikaPizzy(string skladnik) => SkladnikPizzy(skladnik).Ilosc > 0;
    private dynamic SkladnikPizzy(string skladnik)
    {
        if (new string[] { "papryka", "cebula", "kukurydza", "ogórek" }.Contains(skladnik))
            return Gracz.Warzywo(skladnik);
        else if (skladnik == "ananas")
            return Gracz.Owoc(skladnik);
        else if (new string[] { "pieczarka", "rydz", "podgrzybek", "borowik", "kurka" }.Contains(skladnik))
            return Gracz.Grzyb(skladnik);
        else if (skladnik == "oliwki")
            return Gracz.ZywnoscP(skladnik);
        else
            return Gracz.ProduktP(skladnik);
    }
    private string[] nadzieniaCiast = [ "jabłko", "brzoskwinia", "nektarynka", "morela", "śliwka", "wiśnia", "gruszka", "borówka", "porzeczkaCzerwona", "porzeczkaCzarna", "truskawka", "malina", "pomarańcza", "ananas"];
    private string[] wedliny = [ "lopatka", "poledwica", "boczek", "szynka", "schab", "kurczak", "indyk"];
    private string[] pasztety = [ "krolik", "drob", "swinia" ];
    private string[] naWedlineZ = [ "krowaLopatka", "krowaPoledwica", "swiniaBoczek", "swiniaSzynka", "swiniaSchab", "kuraJedzenie", "indykJedzenie", "krolikJedzenie"];
    private string[] naWedlineP = [ "mieloneDrob", "mieloneSwinia"];
    private Dictionary<string, string> miesoNaWedline = new() { ["krowaLopatka"] = "lopatkaWedlina", ["krowaPoledwica"] = "poledwicaWedlina", ["swiniaBoczek"] = "boczekWedlina", ["swiniaSzynka"] = "szynkaWedlina", ["swiniaSchab"] = "schabWedlina", ["kuraJedzenie"] = "kurczakWedlina", ["indykJedzenie"] = "indykWedlina", ["krolikJedzenie"] = "krolikPasztet", ["mieloneDrob"] = "drobPasztet", ["mieloneSwinia"] = "swiniaPasztet" };
    private int pieczeniePieczywa = 0;
    private string makaPieczywo = "";
    private string smalecPieczywo = "";
    private string jajoDrozdzowka = "";
    private string nadzienieDrozdzowka = "";
    private bool saSkladnikiNaPieczywo => Gracz.JestPrzedmiot("pelnaButelka") && Gracz.JestZywnoscP("sol") && makaPieczywo != "" && smalecPieczywo != "" && (pieczeniePieczywa != 3 || (jajoDrozdzowka != "" && nadzienieDrozdzowka != "" && Gracz.JestProduktZ("miod")));
    private string pieczywoGotowe => !saSkladnikiNaPieczywo ? "" : pieczeniePieczywa == 3 ? $"{nadzienieDrozdzowka}Buleczka" : pieczeniePieczywa == 1 ? $"{makaPieczywo}Chleb" : pieczeniePieczywa == 2 ? $"{makaPieczywo}Bulka" : "";
    private bool pokazPizze = false;
    private bool pokazPotwierdzeniePizza = false;
    private string makaPizza = "";
    private string serPizza = "";
    private string makaCiasto = "";
    private string jajoCiasto = "";
    private string owocCiasto = "";
    private bool twarogCiasto = false;
    private bool smietanaCiasto = false;
    private bool saSkladnikiNaCiasto => true;
    private string gotoweCiasto => "";
    private bool saSkladnikiNaPizze => makaPizza != "" && serPizza != "" && Gracz.JestPrzedmiot("pelnaButelka") && Gracz.JestZywnoscP("sol") && Gracz.JestZywnoscP("olej") && Gracz.JestWarzywo("pomidor") && Gracz.JestZywnoscP("bazylia") && Gracz.JestZywnoscP("oregano") && Gracz.Zboza.First(z => z.Nazwa == makaPizza).PoziomZakwasu >= 3;
    private string miesoWedlina = "";
    private bool wybranyPasztet => miesoWedlina == "krolikJedzenie" || miesoWedlina == "mieloneDrob" || miesoWedlina == "mieloneSwinia";
    private string jajoWedlina = "";
    private string smalecWedlina = "";
    private bool saSkladnikiNaWedline => miesoWedlina != "" && Gracz.JestZywnoscP("sol") && Gracz.JestZywnoscP("czarnyPieprz") && Gracz.JestZywnoscP("majeranek") && Gracz.JestWarzywo("czosnek") && (!wybranyPasztet || (Gracz.JestWarzywo("cebula") && jajoWedlina != "" && smalecWedlina != ""));
    private string wedlinaGotowa => !saSkladnikiNaWedline ? "" : miesoNaWedline[miesoWedlina];
    private void ZamknijNarzedzie() => wyciskarka = deska = garnek = patelnia = piec = mlynek = zakwas = false;
    private void ZamknijNarzedziePiec() => piecPieczywo = piecPizza = piecCiasto = piecWedlina = false;
    public class ProduktNaTace(string nazwa, int ilosc = 0)
    {
        public string Nazwa { get; set; } = nazwa;
        public int Ilosc { get; set; } = ilosc;
    }
    List<ProduktNaTace> tacaWyciskarka = [ new("marchew"), new("burak"), new("pomidor"), new("jabłko"), new("pomarańcza"), new("grejpfrut"), new("cytryna"), new("ananas"), new("brzoskwinia"), new("morela"), new("wiśnia"), new("truskawka"), new("malina"), new("borówka"), new("porzeczkaCzarna")];
    List<ProduktNaTace> tacaDeska = [];
    List<ProduktNaTace> tacaGarnek = [];
    List<ProduktNaTace> tacaPatelnia = [];
    List<ProduktNaTace> tacaPiec = [];
    List<ProduktNaTace> tacaMlynek = [new("ziarnaKawy"), new("pelnaButelka"), new("krowaMleko"), new("kozaMleko"), new("owcaMleko"), new("drewno") ];
    List<ProduktNaTace> taca => wyciskarka ? tacaWyciskarka : deska ? tacaDeska : garnek ? tacaGarnek : patelnia ? tacaPatelnia : piec ? tacaPiec : tacaMlynek;
    private int UzyskanySok(string wyciskany) => tacaWyciskarka.First(t => t.Nazwa == wyciskany).Ilosc / 3;
    private void WybraneZbozeNaMake(string zboze)
    {
        if (Gracz.ProduktP($"{zboze}Maka").Ilosc < 1) return;
        makaPieczywo = zboze;
    }
    private void WybraneZbozeNaPizze(string zboze)
    {
        if (Gracz.ProduktP($"{zboze}Maka").Ilosc < 1) return;
        makaPizza = zboze;
    }
    private void WybraneZbozeNaCiasto(string zboze)
    {
        if (Gracz.ProduktP($"{zboze}Maka").Ilosc < 1) return;
        makaCiasto = zboze;
    }
    private void WybranySkladnikNaPizze(string skladnik)
    {
        if (!WalidacjaSkladnikaPizzy(skladnik)) return;
        if (pizzaRobocza.Contains(skladnik))
            pizzaRobocza.Remove(skladnik);
        else
            pizzaRobocza.Add(skladnik);
    }
    private void WybraneSmalecNaPieczywo(string zwierz)
    {
        if (!Gracz.JestProduktZ($"{zwierz}Smalec")) return;
        smalecPieczywo = zwierz;
    }
    private void WybraneSmalecNaWedline(string zwierz)
    {
        if (!Gracz.JestProduktZ($"{zwierz}Smalec")) return;
        smalecWedlina = zwierz;
    }
    private void WybraneJajoNaBuleczke(string ptak)
    {
        if (!Gracz.JestProduktZ($"{ptak}Jajo")) return;
        jajoDrozdzowka = ptak;
    }
    private void WybraneJajoNaCiasto(string ptak)
    {
        if (!Gracz.JestProduktZ($"{ptak}Jajo")) return;
        jajoCiasto = ptak;
    }
    private void WybraneJajoNaWedline(string ptak)
    {
        if (!Gracz.JestProduktZ($"{ptak}Jajo")) return;
        jajoWedlina = ptak;
    }
    private void WybraneNadzienieNaBuleczke(string nadzienie)
    {
        bool owoc = nadzienie != "twarog";
        if (owoc ? !Gracz.JestOwoc(nadzienie) : !Gracz.JestProduktP(nadzienie)) return;
        nadzienieDrozdzowka = nadzienie;
    }
    private void WybraneNadzienieNaCiasto(string owoc)
    {
        if (!Gracz.JestOwoc(owoc)) return;
        owocCiasto = owoc;
    }
    private void WybranySerNaPizze(string ser)
    {
        if (!Gracz.JestProduktP($"{ser}Ser")) return;
        serPizza = ser;
    }
    private void WybraneMiesoNaWedline(string mieso)
    {
        bool odZwierza = mieso != "mieloneDrob" && mieso != "mieloneSwinia";
        if (odZwierza ? Gracz.ProduktZ(mieso).Ilosc < 1 : Gracz.ProduktP(mieso).Ilosc < 1) return;
        miesoWedlina = mieso;
    }
    private int uzyskanaKawa => new[] { tacaMlynek.First(t => t.Nazwa == "drewno").Ilosc, tacaMlynek.First(t => t.Nazwa == "pelnaButelka").Ilosc, tacaMlynek.First(t => t.Nazwa == "ziarnaKawy").Ilosc, tacaMlynek.Where(t => t.Nazwa.EndsWith("Mleko")).Sum(t => t.Ilosc) }.Min();
    private bool MoznaZakwasic(string zboze) => Gracz.JestPrzedmiot("pelnaButelka") && Gracz.JestProduktP($"{zboze}Maka") && Gracz.Zboza.First(z => z.Nazwa == zboze).MoznaZakwasicDzisiaj && Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu < 3;
    private string ZakwasKolor(int poziom) => poziom switch { 0 => "progresCzerwony", 1 => "progresPomaranczowy", 2 => "progresZolty", _ => "progresZielony" };
    private async Task Zakwas(string zboze)
    {
        if (!MoznaZakwasic(zboze)) return;
        Gracz.Przedmiot("pelnaButelka").Ilosc--;
        Gracz.Przedmiot("pustaButelka").Ilosc++;
        Gracz.ProduktP($"{zboze}Maka").Ilosc--;
        Gracz.Zboza.First(z => z.Nazwa == zboze).OstatniDzienZakwaszenia = DateTime.Now.Day;
        Gracz.Zboza.First(z => z.Nazwa == zboze).OstatniMiesiacZakwaszenia = DateTime.Now.Month;
        Gracz.Zboza.First(z => z.Nazwa == zboze).PoziomZakwasu++;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    private int WPortfelu(string nazwa)
    {
        var naTacy = taca.First(t => t.Nazwa == nazwa).Ilosc;
        IDar uGracza = Gracz.Przedmioty.Cast<IDar>().Concat(Gracz.Owoce.Cast<IDar>()).Concat(Gracz.Warzywa.Cast<IDar>()).Concat(Gracz.Zboza.Cast<IDar>()).Concat(Gracz.ProduktyZwierzece.Cast<IDar>()).Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == nazwa);
        return uGracza.Ilosc - naTacy;
    }
    private void NaTace(string nazwa)
    {
        if (WPortfelu(nazwa) < 1) return;
        taca.First(t => t.Nazwa == nazwa).Ilosc++;
    }
    private void ZTacy(string nazwa) => taca.First(t => t.Nazwa == nazwa).Ilosc--;
    private async Task Handel()
    {
        foreach (var produkt in taca)
        {
            if (produkt.Ilosc > 0)
            {
                IDar uGracza = Gracz.Przedmioty.Cast<IDar>().Concat(Gracz.Owoce.Cast<IDar>()).Concat(Gracz.Warzywa.Cast<IDar>()).Concat(Gracz.Zboza.Cast<IDar>()).Concat(Gracz.ProduktyZwierzece.Cast<IDar>()).Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == produkt.Nazwa);
                uGracza.Ilosc -= produkt.Ilosc;
            }
        }
        if (wyciskarka)
            foreach (var produkt in taca)
                if (UzyskanySok(produkt.Nazwa) > 0)
                    Gracz.ProduktP($"{produkt.Nazwa}Sok").Ilosc += UzyskanySok(produkt.Nazwa);
        if (mlynek && uzyskanaKawa > 0)
            Gracz.ZywnoscP("kawa").Ilosc += uzyskanaKawa;
        foreach (var produkt in taca)
            produkt.Ilosc = 0;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    private void UpiecPizze()
    {
        Gracz.Przedmiot("pelnaButelka").Ilosc--;
        Gracz.Przedmiot("pustaButelka").Ilosc++;
        Gracz.ZywnoscP("sol").Ilosc--;
        Gracz.ZywnoscP("olej").Ilosc--;
        Gracz.Warzywo("pomidor").Ilosc--;
        Gracz.ZywnoscP("bazylia").Ilosc--;
        Gracz.ZywnoscP("oregano").Ilosc--;
        Gracz.ProduktP($"{makaPizza}Maka").Ilosc--;
        Gracz.ProduktP($"{serPizza}Ser").Ilosc--;
        Gracz.ProduktyPrzetworzone.First(p => p.Nazwa == "pizza").Pizza.Clear();
        foreach (var skladnik in pizzaRobocza)
        {
            Gracz.ProduktyPrzetworzone.First(p => p.Nazwa == "pizza").Pizza.Add(skladnik);
            SkladnikPizzy(skladnik).Ilosc--;
        }
        Gracz.ProduktP("pizza").Ilosc++;
        makaPizza = "";
        serPizza = "";
        pizzaRobocza.Clear();
        pokazPotwierdzeniePizza = false;
    }
    private async Task Pieczenie()
    {
        if (piecPieczywo && (!saSkladnikiNaPieczywo || Gracz.Zboza.First(z => z.Nazwa == makaPieczywo).PoziomZakwasu < 3 || pieczeniePieczywa == 0)) return;
        if (piecWedlina && !saSkladnikiNaWedline) return;
        if (piecPieczywo)
        {
            Gracz.Przedmiot("pelnaButelka").Ilosc--;
            Gracz.Przedmiot("pustaButelka").Ilosc++;
            Gracz.ZywnoscP("sol").Ilosc--;
            Gracz.ProduktZ($"{smalecPieczywo}Smalec").Ilosc--;
            Gracz.ProduktP($"{makaPieczywo}Maka").Ilosc--;
            smalecPieczywo = "";
            if (pieczeniePieczywa == 3)
            {
                Gracz.ProduktZ("miod").Ilosc--;
                Gracz.ProduktZ($"{jajoDrozdzowka}Jajo").Ilosc--;
                Gracz.ProduktP($"{nadzienieDrozdzowka}Buleczka").Ilosc += 2;
                jajoDrozdzowka = "";
                nadzienieDrozdzowka = "";
            }
            else if (pieczeniePieczywa == 2)
                Gracz.ProduktP($"{makaPieczywo}Bulka").Ilosc += 2;
            else if (pieczeniePieczywa == 1)
                Gracz.ProduktP($"{makaPieczywo}Chleb").Ilosc++;
            makaPieczywo = "";
            pieczeniePieczywa = 0;
        }
        if (piecPizza && saSkladnikiNaPizze)
        {
            if (Gracz.ProduktP("pizza").Ilosc > 0)
            {
                pokazPotwierdzeniePizza = true;
                return;
            }
            UpiecPizze();
        }
        if (piecWedlina)
        {
            Gracz.ZywnoscP("sol").Ilosc--;
            Gracz.ZywnoscP("czarnyPieprz").Ilosc--;
            Gracz.ZywnoscP("majeranek").Ilosc--;
            Gracz.Warzywo("czosnek").Ilosc--;
            if (wybranyPasztet)
            {
                Gracz.Warzywo("cebula").Ilosc--;
                Gracz.ProduktZ($"{jajoWedlina}Jajo").Ilosc--;
                Gracz.ProduktZ($"{smalecWedlina}Smalec").Ilosc--;
                jajoWedlina = "";
                smalecWedlina = "";
            }
            bool niemielone = naWedlineZ.Contains(miesoWedlina);
            if (niemielone)
                Gracz.ProduktZ(miesoWedlina).Ilosc--;
            else
                Gracz.ProduktP(miesoWedlina).Ilosc--;
            Gracz.ProduktP(miesoNaWedline[miesoWedlina]).Ilosc++;
            miesoWedlina = "";

        }
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    private async Task UpiecPizzeZAnimacja()
    {
        UpiecPizze();
        await ladowanieGracza.ZapiszAktualnegoGracza();
        await NaZmianeEkranu.InvokeAsync(EkranGry.PtaszkiZjedza);
        await Task.Delay(3600);
        Gracz.Statystyki.OtwarteOkno = "piecPizza";
        await NaZmianeEkranu.InvokeAsync(EkranGry.DomKuchnia);
    }
}