@page "/"
@using Dziekanowka.Mechanizm
@inject LadowanieGracza ladowanieGracza
@inject Dzwieki dzwieki
@implements IDisposable
@using System.Text.Json
<div class="kontener @(czyAnimacjaWyjscia ? "fade-out" : "fade-in")">
    <DynamicComponent Type="@GetComponentType()" Parameters="@GetParameters()" />
    @if (aktualnyEkran != EkranGry.Start)
    {
        <div class="abs @KlasaPowitania"><img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /><img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /> Witaj! @gracz!.Statystyki.BonusDzienny + @gracz.Przedmiot("siano").Ilosc <img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /><img class="obrazekWypelnia" src="img/przedmioty/moneta.png" /></div>
    }
</div>

@code {
    private EkranGry aktualnyEkran = EkranGry.Start;
    private bool czyAnimacjaWyjscia = false;
    private EkranGry nastepnyEkran;
    private Gracz? gracz => ladowanieGracza.AktualnyGracz;
    private readonly HashSet<EkranGry> ekranyBezParametrow = [ EkranGry.AnimacjaTraktora, EkranGry.AnimacjaTraktoraPowrot, EkranGry.CzyszczeniePola, EkranGry.CzyszczenieDrzewa,
        EkranGry.PsySasiadaSzczekaja, EkranGry.KoszenieTrawy, EkranGry.SamochodDoMiasta, EkranGry.SamochodDoDomu ];
    private Type GetComponentType() => Type.GetType(aktualnyEkran.ToString()) ?? GetType().Assembly.GetTypes().FirstOrDefault(t => t.Name == aktualnyEkran.ToString())!;
    private Dictionary<string, object>? GetParameters() => ekranyBezParametrow.Contains(aktualnyEkran) ? null : aktualnyEkran == EkranGry.Start ? new() { ["NaStartGry"] = EventCallback.Factory.Create<string>(this, WywolajStartGry) } : new() { ["Gracz"] = gracz!, ["NaZmianeEkranu"] = EventCallback.Factory.Create<EkranGry>(this, ZmienEkran) };
    private bool Powitaj { get; set; } = false;
    private bool Znikanie { get; set; } = false;
    private bool czekaNaPowitanie = false;
    private string KlasaPowitania => Powitaj ? (Znikanie ? "powitanieDzienne znikaj" : "powitanieDzienne") : "ukryty";
    protected override void OnInitialized()
    {
        Dzwieki.Dzwiek = dzwieki;
        ladowanieGracza.NowyDzienEvent += OnNowyDzien;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await GraTlo(EkranGry.Start);
        if (czekaNaPowitanie && aktualnyEkran != EkranGry.Start)
        {
            czekaNaPowitanie = false;
            await PowitanieDnia();
        }
    }
    private void OnNowyDzien()
    {
        czekaNaPowitanie = true;
    }
    private async Task PowitanieDnia()
    {
        Powitaj = true;
        Znikanie = false;
        StateHasChanged();
        await Task.Delay(100);
        Znikanie = true;
        StateHasChanged();
        await Task.Delay(3000);
        Powitaj = false;
        Znikanie = false;
        StateHasChanged();
    }
    public void Dispose()
    {
        ladowanieGracza.NowyDzienEvent -= OnNowyDzien;
    }
    private Task GraTlo(EkranGry ekran)
    {
        var sciezka = ekran switch
        {
            EkranGry.DomWiatrolap or EkranGry.DomKuchnia => "mp3/Tla/dom.mp3",
            EkranGry.PoleIntro or EkranGry.Pole1 or EkranGry.Pole2 or EkranGry.Sad1 or EkranGry.Sad2 => "mp3/Tla/poleIntro.mp3",
            EkranGry.AnimacjaTraktora or EkranGry.AnimacjaTraktoraPowrot or EkranGry.SamochodDoMiasta or EkranGry.SamochodDoDomu => "mp3/Tla/traktorJazda.mp3",
            EkranGry.Garaz or EkranGry.GarazGospodarczy => "mp3/Tla/garazgospodarczy.mp3",
            EkranGry.CzyszczeniePola or EkranGry.CzyszczenieDrzewa => null,
            _ => $"mp3/Tla/{ekran.ToString().ToLower()}.mp3"
        };
        return sciezka != null ? dzwieki.GraTlo(sciezka) : Task.CompletedTask;
    }
    private async Task ZmienEkran(EkranGry ekran)
    {
        gracz!.Statystyki.Ekran = ekran;
        await ladowanieGracza.ZapiszAktualnegoGracza();
        nastepnyEkran = ekran;
        czyAnimacjaWyjscia = true;
        StateHasChanged();
        await Task.Delay(300);
        aktualnyEkran = nastepnyEkran;
        czyAnimacjaWyjscia = false;
        StateHasChanged();
        await GraTlo(ekran);
        await Task.Delay(10);
    }
    private async Task WywolajStartGry(string nazwaGracza)
    {
        await ladowanieGracza.ZaladujGracza(nazwaGracza);
        EkranGry startowyEkran = gracz!.Statystyki.Ekran;
        startowyEkran = startowyEkran switch
        {
            EkranGry.AnimacjaTraktora or EkranGry.AnimacjaTraktoraPowrot => EkranGry.Gospodarstwo,
            EkranGry.CzyszczeniePola or EkranGry.CzyszczenieDrzewa => EkranGry.PoleIntro,
            EkranGry.PsySasiadaSzczekaja or EkranGry.SamochodDoMiasta or EkranGry.SamochodDoDomu => EkranGry.ZaBrama,
            EkranGry.KoszenieTrawy => EkranGry.GarazGospodarczy,
            _ => startowyEkran
        };
        await ZmienEkran(startowyEkran);
    }
}