@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="poleIntroWidok widok rel">
    <div class="abs guzikPowrotuZPolaDoGarazuGospodarczego"><button class="wyroznionyGuzik @(pustyKanister ? "nieMoznaKliknac" : "")" @onclick="DoGospodarstwa"><img src="img/doGospodarstwaZPola.png" /></button></div>
    <div class="abs guzikNaPole1ZIntro"><button @onclick="NaPole1" class="wyroznionyGuzik"><img src="img/pole1ZIntro.png" /></button></div>
    <div class="abs guzikNaPole2ZIntro"><button @onclick="NaPole2" class="wyroznionyGuzik"><img src="img/pole2ZIntro.png" /></button></div>
    <div class="abs guzikDoSadu1ZIntro"><button @onclick="DoSadu1" class="wyroznionyGuzik"><img src="img/sad1ZIntro.png" /></button></div>
    <div class="abs guzikDoSadu2ZIntro"><button @onclick="DoSadu2" class="wyroznionyGuzik"><img src="img/sad2ZIntro.png" /></button></div>
    <div class="abs sprzedawaniePoleIntro @(Gracz.Monety < 8 ? "nieMoznaKliknac" : "cPoint") @(pustyKanister ? "" : "ukryty")" @onclick="SprzedazJednego">
        <div class="sprzedawcaPoleIntro"><img class="obrazekWypelnia" src="img/sprzedawcaPoleIntro.png"/></div>
        <div class="cenaDrogaPoleIntro">
            <div class="tylko1PoleIntro">1 <img class="obrazekWypelnia" src="img/przedmioty/kanister.png"/></div>
            <div class="cenaPoleIntro">8 <img class="obrazekWypelnia" src="img/przedmioty/moneta.png"/></div>
        </div>
    </div>
    <div class="abs stanPaliwaPoleIntro">
        <div class="kanisterPoleIntro"><img class="obrazekWypelnia" src="img/przedmioty/kanister.png"/></div>
        <div class="infoKanisterPoleIntro @(pustyKanister ? "naCzerwonoNaZielonym" : "")">@Gracz.Paliwo.IloscPaliwa / @Gracz.Paliwo.MaksymalnaIloscPaliwa</div>
    </div>
</div>

@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool pustyKanister => Gracz.Paliwo.IloscPaliwa < 1;
    public async Task SprzedazJednego()
    {
        if (Gracz.Monety < 8) return;
        Gracz.Monety -= 8;
        Gracz.Paliwo.IloscPaliwa++;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    public async Task DoGospodarstwa()
    {
        if (pustyKanister) return;
        Gracz.Paliwo.IloscPaliwa--;
        await NaZmianeEkranu.InvokeAsync(EkranGry.AnimacjaTraktoraPowrot);
        await Task.Delay(5000);
        await NaZmianeEkranu.InvokeAsync(EkranGry.GarazGospodarczy);
    }
    public async Task NaPole1()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Pole1);
    }
    public async Task NaPole2()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Pole2);
    }
    public async Task DoSadu1()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Sad1);
    }
    public async Task DoSadu2()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Sad2);
    }
}
