@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="pole2Widok widok rel">
    <div class="abs stanButelekPole">@pelneButelki <img class="obrazekSieMiesci" src="img/przedmioty/butelkaPelna.png" /></div>
    <div class="abs naPoleIntroZPole2"><button class="wyroznionyGuzik" @onclick="NaPoleIntro"><img src="img/naPoleIntroZPole2.png" /></button></div>
    <div class="abs naPole1ZPole2"><button class="wyroznionyGuzik" @onclick="NaPole1"><img src="img/naPole1ZPole2.png" /></button></div>
    @for (int x = 1; x <= 5; x++)
    {
        var localX = x;
        @for (int y = 1; y <= 4; y++)
        {
            var localY = y;
            var pole = Gracz.PolaUprawne.First(p => p.Id == 2 && p.X == localX && p.Y == localY);
            <div class="@($"abs pojedynczePole1 pole1{localX}{localY}")">
                <div class="abs obrysPola @(!MoznaUprawiac(pole) ? "nieMoznaKliknac" : "wyroznionyDiv wyroznionyZielonoDiv")" @onclick="async () => await UprawiajPole(pole)">
                <img class="obrazekWypelnia" src="@($"img/pole{(pole.Poziom > -1 ? "Zadbane" : "Zaniedbane")}.png")" />
                @if (pole.Poziom < 0)
                {
                    <div class="abs ramkaMotyka @(maMotyke ? "motykaTrue" : "motykaFalse")"></div>
                }
                else
                {
                    <div class="abs ileZyskuZPola">+ @pole.Poziom</div>
                }
                <div class="abs warzywoNaPolu"><img class="obrazekWypelnia" src="@($"img/przedmioty/warzywa/{pole.Warzywo}.png")" /></div>
                <div class="abs ileWarzywPole">
                    <img class="obrazekWypelnia" src="img/przedmioty/worekPole.png" />
                    <div class="abs liczbaWarzywPole">@pole.LiczbaPosiadanych(Gracz)</div>
                </div>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private int pelneButelki => Gracz.Przedmioty.First(p => p.Nazwa == "pelnaButelka").Ilosc;
    private bool maMotyke => Gracz.Przedmioty.Any(p => p.Nazwa == "motyka");
    private bool MoznaUprawiac(PoleUprawne pole) => (pole.Poziom < 0 && maMotyke) || (pole.Poziom > 0 && Gracz.IloscPrzedmiotow("pelnaButelka") > 0);
    public async Task NaPoleIntro()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.PoleIntro);
    }
    public async Task NaPole1()
    {
        await NaZmianeEkranu.InvokeAsync(EkranGry.Pole1);
    }
    public async Task UprawiajPole(PoleUprawne pole)
    {
        if (!MoznaUprawiac(pole)) return;
        if (pole.Poziom < 0 && maMotyke)
        {
            pole.Poziom = 0;
            Gracz.Przedmioty.RemoveAll(p => p.Nazwa == "motyka");
        }
        else
        {
            Gracz.Warzywa.First(w => w.Nazwa == pole.Warzywo).Ilosc += pole.Poziom;
            Gracz.Przedmioty.First(p => p.Nazwa == "pelnaButelka").Ilosc--;
        }
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
}