@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="przetworniaWidok widok rel @(widok ? "" : "przygaszony")">
    <div class="abs przetworniaPowrot"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Gospodarstwo)"><img src="img/budynki/confirmPrzetwornia.png" /></button></div>
    <div class="abs doMaselnicy"><button class="wyroznionyGuzik" @onclick="() => maselnica = true"><img src="img/budynki/maselnica.png" /></button></div>
    <div class="abs doSerowarni"><button class="wyroznionyGuzik" @onclick="() => serowarnia = true"><img src="img/budynki/serowarnia.png" /></button></div>
    <div class="abs doZaren"><button class="wyroznionyGuzik" @onclick="() => zarna = true"><img src="img/budynki/zarna.png" /></button></div>
    <div class="abs doPlatkarni"><button class="wyroznionyGuzik" @onclick="() => platkarka = true"><img src="img/budynki/platkarnia.png" /></button></div>
</div>
<div class="abs narzedziePrzetwornia @(maselnica ? "maselnica" : serowarnia ? "serowarnia" : zarna ? "zarna" : platkarka ? "platkarnia" : "")Widok @(widok ? "" : "aktywne")">
    <div class="abs przetworniaNarzedzieConfirm"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedzie"><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button></div>
    @if (maselnica)
    {
        <div class="abs guzikHandelMaselnica"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/budynki/maselnicaPracuj.png" /></button></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoKurze @(@WPortfelu("kuraJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kuraJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("kuraJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoGesie @(@WPortfelu("gesJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("gesJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("gesJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoKacze @(@WPortfelu("kaczkaJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kaczkaJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("kaczkaJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoIndycze @(@WPortfelu("indykJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("indykJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("indykJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaOlej @(@WPortfelu("olej") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("olej")'><div class="abs maselnicalProduktIn">@WPortfelu("olej")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaSmietana @(@WPortfelu("smietana") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("smietana")'><div class="abs maselnicalProduktIn">@WPortfelu("smietana")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaMlekoKrowie @(@WPortfelu("krowaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("krowaMleko")'><div class="abs maselnicalProduktIn">@WPortfelu("krowaMleko")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaMlekoKozie @(@WPortfelu("kozaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kozaMleko")'><div class="abs maselnicalProduktIn">@WPortfelu("kozaMleko")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaMlekoOwcze @(@WPortfelu("owcaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("owcaMleko")'><div class="abs maselnicalProduktIn">@WPortfelu("owcaMleko")</div></div>
        <div class="abs maselnicaLCelow maselnicaLSmietany">@Gracz.ProduktP("smietana").Ilosc</div>
        <div class="abs maselnicaLCelow maselnicaLMasla">@Gracz.ProduktP("maslo").Ilosc</div>
        <div class="abs maselnicaLCelow maselnicaLMajonezu">@Gracz.ProduktP("majonez").Ilosc</div>
        <div class="abs tacaPodajnikMaselnica">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktTacaPodajnikMaselnica klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/@(produkt.Nazwa).png"/>
                    <div class="abs @(produkt.Nazwa != "smietana" ? "produkt" : "smietana")TacaIloscPodajnikMaselnica">@produkt.Ilosc</div>
                </div>
            }
        </div>
        <div class="abs tacaEfektMaselnica">
            @if (uzyskanaSmietana > 0)
            {
                <div class="rel produktTacaEfektMaselnica">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/smietana.png" />
                    <div class="abs smietanaTacaIloscPodajnikMaselnica">@uzyskanaSmietana</div>
                </div>
            }
            @if (uzyskaneMaslo > 0)
            {
                <div class="rel produktTacaEfektMaselnica">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/maslo.png" />
                    <div class="abs produktTacaIloscPodajnikMaselnica">@uzyskaneMaslo</div>
                </div>
            }
            @if (uzyskanyMajonez > 0)
            {
                <div class="rel produktTacaEfektMaselnica">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/majonez.png" />
                    <div class="abs produktTacaIloscPodajnikMaselnica">@uzyskanyMajonez</div>
                </div>
            }
        </div>
    }
    else if (serowarnia)
    {
        <div class="abs guzikHandelSerowarnia"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/budynki/serowarniaPracuj.png" /></button></div>
        <div class="abs guzikSerowarniaProduktIn guzikSerowarniaMlekoKrowie @(@WPortfelu("krowaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("krowaMleko")'><div class="abs serowarnialProduktIn">@WPortfelu("krowaMleko")</div></div>
        <div class="abs guzikSerowarniaProduktIn guzikSerowarniaMlekoKozie @(@WPortfelu("kozaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kozaMleko")'><div class="abs serowarnialProduktIn">@WPortfelu("kozaMleko")</div></div>
        <div class="abs guzikSerowarniaProduktIn guzikSerowarniaMlekoOwcze @(@WPortfelu("owcaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("owcaMleko")'><div class="abs serowarnialProduktIn">@WPortfelu("owcaMleko")</div></div>
        <div class="abs serowarniaLCelow serowarniaLKrowiego">@Gracz.ProduktP("krowaSer").Ilosc</div>
        <div class="abs serowarniaLCelow serowarniaLKoziego">@Gracz.ProduktP("kozaSer").Ilosc</div>
        <div class="abs serowarniaLCelow serowarniaLOwczego">@Gracz.ProduktP("owcaSer").Ilosc</div>
        <div class="abs serowarniaLCelow serowarniaLTwarogu">@Gracz.ProduktP("twarog").Ilosc</div>
        <div class="abs tacaPodajnikSerowarnia">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktTacaPodajnikSerowarnia klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/@(produkt.Nazwa).png" />
                    <div class="abs produktTacaIloscPodajnikMaselnica">@produkt.Ilosc</div>
                </div>
            }
        </div>
        <div class="abs tacaEfektSerowarnia">
            @if (serowarniaModSer && UzyskanySer("krowaMleko") > 0)
            {
                <div class="rel produktTacaEfektSerowarnia">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/krowaSer.png" />
                    <div class="abs produktTacaIloscPodajnikMaselnica">@UzyskanySer("krowaMleko")</div>
                </div>
            }
            @if (serowarniaModSer && UzyskanySer("kozaMleko") > 0)
            {
                <div class="rel produktTacaEfektSerowarnia">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/kozaSer.png" />
                    <div class="abs produktTacaIloscPodajnikSer">@UzyskanySer("kozaMleko")</div>
                </div>
            }
            @if (serowarniaModSer && UzyskanySer("owcaMleko") > 0)
            {
                <div class="rel produktTacaEfektSerowarnia">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/owcaSer.png" />
                    <div class="abs produktTacaIloscSerOwczy">@UzyskanySer("owcaMleko")</div>
                </div>
            }
            @if (!serowarniaModSer && uzyskanyTwarog > 0)
            {
                <div class="rel produktTacaEfektSerowarnia">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/twarog.png" />
                    <div class="abs produktTacaIloscPodajnikSer">@uzyskanyTwarog</div>
                </div>
            }
        </div>
        <div class="abs serowarniaLampka serowarniaLampkaSer @(serowarniaModSer ? "swiec" : "zgas")" @onclick="() => serowarniaModSer = true"></div>
        <div class="abs serowarniaLampka serowarniaLampkaTwarog @(!serowarniaModSer ? "swiec" : "zgas")" @onclick="() => serowarniaModSer = false"></div>
    }
    else if (zarna)
    {
        <div class="abs guzikHandelZarna"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/budynki/zarnaPracuj.png" /></button></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaGryka @(@WPortfelu("gryka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("gryka")'><div class="abs zarnalProduktIn">@WPortfelu("gryka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaJeczmien @(@WPortfelu("jeczmien") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("jeczmien")'><div class="abs zarnalProduktIn">@WPortfelu("jeczmien")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaOrkisz @(@WPortfelu("orkisz") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("orkisz")'><div class="abs zarnalProduktIn">@WPortfelu("orkisz")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaOwies @(@WPortfelu("owies") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("owies")'><div class="abs zarnalProduktIn">@WPortfelu("owies")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaPszenica @(@WPortfelu("pszenica") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pszenica")'><div class="abs zarnalProduktIn">@WPortfelu("pszenica")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaRyz @(@WPortfelu("ryz") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("ryz")'><div class="abs zarnalProduktIn">@WPortfelu("ryz")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaZyto @(@WPortfelu("zyto") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("zyto")'><div class="abs zarnalProduktIn">@WPortfelu("zyto")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaKuraJajo @(@WPortfelu("kuraJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kuraJajo")'><div class="abs zarnalProduktIn">@WPortfelu("kuraJajo")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaGesJajo @(@WPortfelu("gesJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("gesJajo")'><div class="abs zarnalProduktIn">@WPortfelu("gesJajo")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaIndykJajo @(@WPortfelu("indykJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("indykJajo")'><div class="abs zarnalProduktIn">@WPortfelu("indykJajo")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaKaczkaJajo @(@WPortfelu("kaczkaJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kaczkaJajo")'><div class="abs zarnalProduktIn">@WPortfelu("kaczkaJajo")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaGrykaMaka @(@WPortfelu("grykaMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("grykaMaka")'><div class="abs zarnalProduktIn">@WPortfelu("grykaMaka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaJeczmienMaka @(@WPortfelu("jeczmienMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("jeczmienMaka")'><div class="abs zarnalProduktIn">@WPortfelu("jeczmienMaka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaOrkiszMaka @(@WPortfelu("orkiszMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("orkiszMaka")'><div class="abs zarnalProduktIn">@WPortfelu("orkiszMaka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaOwiesMaka @(@WPortfelu("owiesMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("owiesMaka")'><div class="abs zarnalProduktIn">@WPortfelu("owiesMaka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaPszenicaMaka @(@WPortfelu("pszenicaMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pszenicaMaka")'><div class="abs zarnalProduktIn">@WPortfelu("pszenicaMaka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaRyzMaka @(@WPortfelu("ryzMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("ryzMaka")'><div class="abs zarnalProduktIn">@WPortfelu("ryzMaka")</div></div>
        <div class="abs guzikZarnaProduktIn guzikZarnaZytoMaka @(@WPortfelu("zytoMaka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("zytoMaka")'><div class="abs zarnalProduktIn">@WPortfelu("zytoMaka")</div></div>
        <div class="abs zarnaLCelow zarnaLGryczana">@Gracz.ProduktP("grykaMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLJeczmienna">@Gracz.ProduktP("jeczmienMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLOrkiszowa">@Gracz.ProduktP("orkiszMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLOwsiana">@Gracz.ProduktP("owiesMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLPszenna">@Gracz.ProduktP("pszenicaMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLRyzowa">@Gracz.ProduktP("ryzMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLZytnia">@Gracz.ProduktP("zytoMaka").Ilosc</div>
        <div class="abs zarnaLCelow zarnaLMakaron">@Gracz.ProduktP("makaron").Ilosc</div>
        <div class="abs tacaPodajnikZarna">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktTacaPodajnikZarna klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/@(produkt.Nazwa).png" />
                    <div class="abs produktTacaIloscPodajnikZarna">@produkt.Ilosc</div>
                </div>
            }
        </div>
        <div class="abs tacaEfektZarna">
            @if (UzyskanaMaka("gryka") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/grykaMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("gryka")</div>
                </div>
            }
            @if (UzyskanaMaka("jeczmien") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/jeczmienMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("jeczmien")</div>
                </div>
            }
            @if (UzyskanaMaka("orkisz") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/orkiszMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("orkisz")</div>
                </div>
            }
            @if (UzyskanaMaka("owies") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/owiesMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("owies")</div>
                </div>
            }
            @if (UzyskanaMaka("pszenica") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/pszenicaMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("pszenica")</div>
                </div>
            }
            @if (UzyskanaMaka("ryz") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/ryzMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("ryz")</div>
                </div>
            }
            @if (UzyskanaMaka("zyto") > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/zytoMaka.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@UzyskanaMaka("zyto")</div>
                </div>
            }
            @if (uzyskanyMakaron > 0)
            {
                <div class="rel produktTacaEfektZarna">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/makaron.png" />
                    <div class="abs produktTacaEfektZarnaIlosc">@uzyskanyMakaron</div>
                </div>
            }
        </div>
    }
    else if (platkarka)
    {
        <div class="abs guzikHandelPlatkarka"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/budynki/platkarniaPracuj.png" /></button></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaGryka @(@WPortfelu("gryka") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("gryka")'><div class="abs zarnalProduktIn">@WPortfelu("gryka")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaJeczmien @(@WPortfelu("jeczmien") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("jeczmien")'><div class="abs zarnalProduktIn">@WPortfelu("jeczmien")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaOrkisz @(@WPortfelu("orkisz") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("orkisz")'><div class="abs zarnalProduktIn">@WPortfelu("orkisz")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaOwies @(@WPortfelu("owies") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("owies")'><div class="abs zarnalProduktIn">@WPortfelu("owies")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaPszenica @(@WPortfelu("pszenica") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("pszenica")'><div class="abs zarnalProduktIn">@WPortfelu("pszenica")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaRyz @(@WPortfelu("ryz") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("ryz")'><div class="abs zarnalProduktIn">@WPortfelu("ryz")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaZyto @(@WPortfelu("zyto") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("zyto")'><div class="abs zarnalProduktIn">@WPortfelu("zyto")</div></div>
        <div class="abs guzikPlatkarkaProduktIn guzikPlatkarkaKukurydza @(@WPortfelu("kukurydza") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kukurydza")'><div class="abs zarnalProduktIn">@WPortfelu("kukurydza")</div></div>
        <div class="abs platkarkaLCelow platkarkaLGryczane">@Gracz.ProduktP("grykaPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLJeczmienne">@Gracz.ProduktP("jeczmienPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLOrkiszowe">@Gracz.ProduktP("orkiszPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLOwsiane">@Gracz.ProduktP("owiesPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLPszenne">@Gracz.ProduktP("pszenicaPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLRyzowe">@Gracz.ProduktP("ryzPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLZytnie">@Gracz.ProduktP("zytoPlatki").Ilosc</div>
        <div class="abs platkarkaLCelow platkarkaLKukurydziane">@Gracz.ProduktP("kukurydzaPlatki").Ilosc</div>
        <div class="abs tacaPodajnikPlatkarka">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktTacaPodajnikPlatkarka klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/@(produkt.Nazwa).png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@produkt.Ilosc</div>
                </div>
            }
        </div>
    <div class="abs tacaEfektPlatkarka">
            @if (UzyskanePlatki("gryka") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/grykaPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("gryka")</div>
                </div>
            }
            @if (UzyskanePlatki("jeczmien") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/jeczmienPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("jeczmien")</div>
                </div>
            }
            @if (UzyskanePlatki("orkisz") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/orkiszPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("orkisz")</div>
                </div>
            }
            @if (UzyskanePlatki("owies") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/owiesPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("owies")</div>
                </div>
            }
            @if (UzyskanePlatki("pszenica") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/pszenicaPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("pszenica")</div>
                </div>
            }
            @if (UzyskanePlatki("ryz") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/ryzPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("ryz")</div>
                </div>
            }
            @if (UzyskanePlatki("zyto") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/zytoPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("zyto")</div>
                </div>
            }
            @if (UzyskanePlatki("kukurydza") > 0)
            {
                <div class="rel produktTacaPodajnikPlatkarka">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/kukurydzaPlatki.png" />
                    <div class="abs produktTacaIloscPodajnikPlatkarka">@UzyskanePlatki("kukurydza")</div>
                </div>
            }
    </div>
    }
    else if (beczka)
    {
        
    }
    else if (mlynek)
    {
        
    }
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool maselnica = false;
    private bool serowarnia = false;
    private bool zarna = false;
    private bool platkarka = false;
    private bool beczka = false;
    private bool mlynek = false;
    private bool widok => !maselnica && !serowarnia && !zarna && !platkarka && !beczka && !mlynek;
    public class ProduktNaTace(string nazwa, int ilosc = 0)
    {
        public string Nazwa { get; set; } = nazwa;
        public int Ilosc { get; set; } = ilosc;
    }
    List<ProduktNaTace> tacaMaselnica = [ new("kuraJajo"), new("gesJajo"), new("kaczkaJajo"), new("indykJajo"), new("olej"), new("smietana"), new("krowaMleko"), new("kozaMleko"), new("owcaMleko") ];
    List<ProduktNaTace> tacaSerowarnia = [new("krowaMleko"), new("kozaMleko"), new("owcaMleko")];
    List<ProduktNaTace> tacaZarna = [ new("zyto"), new("jeczmien"), new("pszenica"), new("ryz"), new("owies"), new("gryka"), new("orkisz"), new("kuraJajo"), new("gesJajo"), new("kaczkaJajo"), new("indykJajo"), new("zytoMaka"), new("jeczmienMaka"), new("pszenicaMaka"), new("ryzMaka"), new("owiesMaka"), new("grykaMaka"), new("orkiszMaka")];
    List<ProduktNaTace> tacaPlatkarka = [new("zyto"), new("jeczmien"), new("pszenica"), new("ryz"), new("owies"), new("gryka"), new("orkisz"), new("kukurydza")];
    List<ProduktNaTace> tacaBeczka = [];
    List<ProduktNaTace> taca => maselnica ? tacaMaselnica : serowarnia ? tacaSerowarnia : zarna ? tacaZarna : platkarka ? tacaPlatkarka : tacaBeczka;
    private int uzyskanaSmietana => 3 * tacaMaselnica.Where(t => t.Nazwa.EndsWith("Mleko")).Sum(t => t.Ilosc);
    private int uzyskaneMaslo => tacaMaselnica.First(t => t.Nazwa == "smietana").Ilosc;
    private int uzyskanyMajonez => Math.Min(tacaMaselnica.Where(t => t.Nazwa.EndsWith("Jajo")).Sum(t => t.Ilosc) / 2, tacaMaselnica.First(t => t.Nazwa == "olej").Ilosc);
    private bool serowarniaModSer = true;
    private int UzyskanySer(string mleko) => serowarniaModSer ? tacaSerowarnia.First(t => t.Nazwa == mleko).Ilosc / 2 : 0;
    private int uzyskanyTwarog => !serowarniaModSer ? tacaSerowarnia.Sum(t => t.Ilosc) : 0;
    private int UzyskanaMaka(string zboze) => tacaZarna.First(t => t.Nazwa == zboze).Ilosc / 3;
    private int uzyskanyMakaron => Math.Min(tacaZarna.Where(t => t.Nazwa.EndsWith("Maka")).Sum(t => t.Ilosc) / 2, tacaZarna.First(t => t.Nazwa.EndsWith("Jajo")).Ilosc) * 3;
    private int UzyskanePlatki(string zboze) => tacaPlatkarka.First(t => t.Nazwa == zboze).Ilosc / 2;
    private void ZamknijNarzedzie()
    {
        maselnica = false;
        serowarnia = false;
        zarna = false;
        platkarka = false;
        beczka = false;
        mlynek = false;
    }
    private int WPortfelu(string nazwa)
    {
        var naTacy = taca.First(t => t.Nazwa == nazwa).Ilosc;
        IDar uGracza = Gracz.Warzywa.Cast<IDar>().Concat(Gracz.Zboza.Cast<IDar>()).Concat(Gracz.ProduktyZwierzece.Cast<IDar>()).Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == nazwa);
        return uGracza.Ilosc - naTacy;
    }
    private void NaTace(string nazwa)
    {
        if (WPortfelu(nazwa) < 1) return;
        taca.First(t => t.Nazwa == nazwa).Ilosc++;
    }
    private void ZTacy(string nazwa)
    {
        taca.First(t => t.Nazwa == nazwa).Ilosc--;
    }
    private async Task Handel()
    {
        foreach (var produkt in taca)
        {
            if (produkt.Ilosc > 0)
            {
                IDar uGracza = Gracz.Warzywa.Cast<IDar>().Concat(Gracz.Zboza.Cast<IDar>()).Concat(Gracz.ProduktyZwierzece.Cast<IDar>()).Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == produkt.Nazwa);
                uGracza.Ilosc -= produkt.Ilosc;
            }
        }
        if (maselnica)
        {
            if (uzyskanaSmietana > 0)
                Gracz.ProduktP("smietana").Ilosc += uzyskanaSmietana;
            if (uzyskaneMaslo > 0)
                Gracz.ProduktP("maslo").Ilosc += uzyskaneMaslo;
            if (uzyskanyMajonez > 0)
                Gracz.ProduktP("majonez").Ilosc += uzyskanyMajonez;
        }
        if (serowarnia)
        {
            if (serowarniaModSer)
            {
                if (UzyskanySer("krowaMleko") > 0)
                    Gracz.ProduktP("krowaSer").Ilosc += UzyskanySer("krowaMleko");
                if (UzyskanySer("kozaMleko") > 0)
                    Gracz.ProduktP("kozaSer").Ilosc += UzyskanySer("kozaMleko");
                if (UzyskanySer("owcaMleko") > 0)
                    Gracz.ProduktP("owcaSer").Ilosc += UzyskanySer("owcaMleko");
            }
            else
            {
                if (uzyskanyTwarog > 0)
                    Gracz.ProduktP("twarog").Ilosc += uzyskanyTwarog;
            }
        }
        if (zarna)
        {
            if (UzyskanaMaka("gryka") > 0)
                Gracz.ProduktP("grykaMaka").Ilosc += UzyskanaMaka("gryka");
            if (UzyskanaMaka("jeczmien") > 0)
                Gracz.ProduktP("jeczmienMaka").Ilosc += UzyskanaMaka("jeczmien");
            if (UzyskanaMaka("orkisz") > 0)
                Gracz.ProduktP("orkiszMaka").Ilosc += UzyskanaMaka("orkisz");
            if (UzyskanaMaka("owies") > 0)
                Gracz.ProduktP("owiesMaka").Ilosc += UzyskanaMaka("owies");
            if (UzyskanaMaka("pszenica") > 0)
                Gracz.ProduktP("pszenicaMaka").Ilosc += UzyskanaMaka("pszenica");
            if (UzyskanaMaka("ryz") > 0)
                Gracz.ProduktP("ryzMaka").Ilosc += UzyskanaMaka("ryz");
            if (UzyskanaMaka("zyto") > 0)
                Gracz.ProduktP("zytoMaka").Ilosc += UzyskanaMaka("zyto");
            if (uzyskanyMakaron > 0)
                Gracz.ProduktP("makaron").Ilosc += uzyskanyMakaron;
        }
        if (platkarka)
        {
            if (UzyskanePlatki("gryka") > 0)
                Gracz.ProduktP("grykaPlatki").Ilosc += UzyskanePlatki("gryka");
            if (UzyskanePlatki("jeczmien") > 0)
                Gracz.ProduktP("jeczmienPlatki").Ilosc += UzyskanePlatki("jeczmien");
            if (UzyskanePlatki("orkisz") > 0)
                Gracz.ProduktP("orkiszPlatki").Ilosc += UzyskanePlatki("orkisz");
            if (UzyskanePlatki("owies") > 0)
                Gracz.ProduktP("owiesPlatki").Ilosc += UzyskanePlatki("owies");
            if (UzyskanePlatki("pszenica") > 0)
                Gracz.ProduktP("pszenicaPlatki").Ilosc += UzyskanePlatki("pszenica");
            if (UzyskanePlatki("ryz") > 0)
                Gracz.ProduktP("ryzPlatki").Ilosc += UzyskanePlatki("ryz");
            if (UzyskanePlatki("zyto") > 0)
                Gracz.ProduktP("zytoPlatki").Ilosc += UzyskanePlatki("zyto");
            if (UzyskanePlatki("kukurydza") > 0)
                Gracz.ProduktP("kukurydzaPlatki").Ilosc += UzyskanePlatki("kukurydza");
        }
        foreach (var produkt in taca)
            produkt.Ilosc = 0;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
}