@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="przetworniaWidok widok rel @(widok ? "" : "przygaszony")">
    <div class="abs przetworniaPowrot"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Gospodarstwo)"><img src="img/budynki/confirmPrzetwornia.png" /></button></div>
    <div class="abs doMaselnicy"><button class="wyroznionyGuzik" @onclick="() => maselnica = true"><img src="img/budynki/maselnica.png" /></button></div>
</div>
<div class="abs narzedziePrzetwornia @(widok ? "" : "aktywne")">
    <div class="abs przetworniaNarzedzieConfirm"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedzie"><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button></div>
    @if (maselnica)
    {
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoKurze" @onclick='() => NaTace("kuraJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("kuraJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoGesie" @onclick='() => NaTace("gesJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("gesJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoKacze" @onclick='() => NaTace("kaczkaJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("kaczkaJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoIndycze" @onclick='() => NaTace("indykJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("indykJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaOlej" @onclick='() => NaTace("olej")'><div class="abs maselnicalProduktIn">@WPortfelu("olej")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaSmietana" @onclick='() => NaTace("smietana")'><div class="abs maselnicalProduktIn">@WPortfelu("smietana")</div></div>
        <div class="abs maselnicaLCelow maselnicaLSmietany">@Gracz.ProduktP("smietana").Ilosc</div>
        <div class="abs maselnicaLCelow maselnicaLMasla">@Gracz.ProduktP("maslo").Ilosc</div>
        <div class="abs maselnicaLCelow maselnicaLMajonezu">@Gracz.ProduktP("majonez").Ilosc</div>
        // smietana maslo majonez
    }
    else if (serowarnia)
    {
        
    }
    else if (zarna)
    {
        
    }
    else if (platkarka)
    {
        
    }
    else if (beczka)
    {
        
    }
    else if (mlynek)
    {
        
    }
</div>


@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool maselnica = false;
    private bool serowarnia = false;
    private bool zarna = false;
    private bool platkarka = false;
    private bool beczka = false;
    private bool mlynek = false;
    private bool widok => !maselnica && !serowarnia && !zarna && !platkarka && !beczka && !mlynek;
    List<(string Nazwa, int Ilosc)> tacaMaselnica = [("kuraJajo", 0), ("gesJajo", 0), ("kaczkaJajo", 0), ("indykJajo", 0), ("olej", 0), ("smietana", 0), ("krowaMleko", 0), ("kozaMleko", 0), ("owcaMleko", 0)];
    List<(string Nazwa, int Ilosc)> tacaSerowarnia = [];
    private void ZamknijNarzedzie()
    {
        maselnica = false;
        serowarnia = false;
        zarna = false;
        platkarka = false;
        beczka = false;
        mlynek = false;
    }
    private int WPortfelu(string nazwa)
    {
        var taca = maselnica ? tacaMaselnica : tacaSerowarnia;
        var naTacy = taca.First(t => t.Nazwa == nazwa).Ilosc;
        IDar uGracza = Gracz.ProduktyZwierzece.Cast<IDar>().Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == nazwa);
        return uGracza.Ilosc - naTacy;
    }
    private void NaTace(string nazwa)
    {
        var taca = maselnica ? tacaMaselnica : tacaSerowarnia;
    }
}