@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="przetworniaWidok widok rel @(widok ? "" : "przygaszony")">
    <div class="abs przetworniaPowrot"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Gospodarstwo)"><img src="img/budynki/confirmPrzetwornia.png" /></button></div>
    <div class="abs doMaselnicy"><button class="wyroznionyGuzik" @onclick="() => maselnica = true"><img src="img/budynki/maselnica.png" /></button></div>
</div>
<div class="abs narzedziePrzetwornia @(widok ? "" : "aktywne")">
    <div class="abs przetworniaNarzedzieConfirm"><button class="wyroznionyGuzik" @onclick="ZamknijNarzedzie"><img src="img/budynki/przetworniaNarzedzieConfirm.png" /></button></div>
    @if (maselnica)
    {
        <div class="abs guzikHandelMaselnica"><button class="wyroznionyGuzik" @onclick="Handel"><img class="obrazekSieMiesci" src="img/budynki/maselnicaPracuj.png" /></button></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoKurze @(@WPortfelu("kuraJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kuraJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("kuraJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoGesie @(@WPortfelu("gesJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("gesJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("gesJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoKacze @(@WPortfelu("kaczkaJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kaczkaJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("kaczkaJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaJajoIndycze @(@WPortfelu("indykJajo") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("indykJajo")'><div class="abs maselnicalProduktIn">@WPortfelu("indykJajo")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaOlej @(@WPortfelu("olej") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("olej")'><div class="abs maselnicalProduktIn">@WPortfelu("olej")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaSmietana @(@WPortfelu("smietana") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("smietana")'><div class="abs maselnicalProduktIn">@WPortfelu("smietana")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaMlekoKrowie @(@WPortfelu("krowaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("krowaMleko")'><div class="abs maselnicalProduktIn">@WPortfelu("krowaMleko")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaMlekoKozie @(@WPortfelu("kozaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("kozaMleko")'><div class="abs maselnicalProduktIn">@WPortfelu("kozaMleko")</div></div>
        <div class="abs guzikMaselnicaProduktIn guzikMaselnicaMlekoOwcze @(@WPortfelu("owcaMleko") > 0 ? "klikalneDivZielone" : "nieMoznaKliknac")" @onclick='() => NaTace("owcaMleko")'><div class="abs maselnicalProduktIn">@WPortfelu("owcaMleko")</div></div>
        <div class="abs maselnicaLCelow maselnicaLSmietany">@Gracz.ProduktP("smietana").Ilosc</div>
        <div class="abs maselnicaLCelow maselnicaLMasla">@Gracz.ProduktP("maslo").Ilosc</div>
        <div class="abs maselnicaLCelow maselnicaLMajonezu">@Gracz.ProduktP("majonez").Ilosc</div>
        <div class="abs tacaPodajnikMaselnica">
            @foreach (var produkt in taca)
            {
                if (produkt.Ilosc < 1) continue;
                <div class="rel produktTacaPodajnikMaselnica klikalneDivSzare" @onclick="() => ZTacy(produkt.Nazwa)">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/@(produkt.Nazwa).png"/>
                    <div class="abs @(produkt.Nazwa != "smietana" ? "produkt" : "smietana")TacaIloscPodajnikMaselnica">@produkt.Ilosc</div>
                </div>
            }
        </div>
        <div class="abs tacaEfektMaselnica">
            @if (uzyskanaSmietana > 0)
            {
                <div class="rel produktTacaEfektMaselnica">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/smietana.png" />
                    <div class="abs smietanaTacaIloscPodajnikMaselnica">@uzyskanaSmietana</div>
                </div>
            }
            @if (uzyskaneMaslo > 0)
            {
                <div class="rel produktTacaEfektMaselnica">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/maslo.png" />
                    <div class="abs produktTacaIloscPodajnikMaselnica">@uzyskaneMaslo</div>
                </div>
            }
            @if (uzyskanyMajonez > 0)
            {
                <div class="rel produktTacaEfektMaselnica">
                    <img class="obrazekSieMiesci" src="img/przedmioty/przetwornia/majonez.png" />
                    <div class="abs produktTacaIloscPodajnikMaselnica">@uzyskanyMajonez</div>
                </div>
            }
        </div>
    }
    else if (serowarnia)
    {
        
    }
    else if (zarna)
    {
        
    }
    else if (platkarka)
    {
        
    }
    else if (beczka)
    {
        
    }
    else if (mlynek)
    {
        
    }
</div>


@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private bool maselnica = false;
    private bool serowarnia = false;
    private bool zarna = false;
    private bool platkarka = false;
    private bool beczka = false;
    private bool mlynek = false;
    private bool widok => !maselnica && !serowarnia && !zarna && !platkarka && !beczka && !mlynek;
    public class ProduktNaTace(string nazwa, int ilosc)
    {
        public string Nazwa { get; set; } = nazwa;
        public int Ilosc { get; set; } = ilosc;
    }
    List<ProduktNaTace> tacaMaselnica = [ new("kuraJajo", 0), new("gesJajo", 0), new("kaczkaJajo", 0), new("indykJajo", 0), new("olej", 0), new("smietana", 0), new("krowaMleko", 0), new("kozaMleko", 0), new("owcaMleko", 0) ];
    List<ProduktNaTace> tacaSerowarnia = [];
    List<ProduktNaTace> taca => maselnica ? tacaMaselnica : tacaSerowarnia;
    private int uzyskanaSmietana => 3 * tacaMaselnica.Where(t => t.Nazwa.EndsWith("Mleko")).Sum(t => t.Ilosc);
    private int uzyskaneMaslo => tacaMaselnica.First(t => t.Nazwa == "smietana").Ilosc;
    private int uzyskanyMajonez => Math.Min(tacaMaselnica.Where(t => t.Nazwa.EndsWith("Jajo")).Sum(t => t.Ilosc) / 2, tacaMaselnica.First(t => t.Nazwa == "olej").Ilosc);
    private void ZamknijNarzedzie()
    {
        maselnica = false;
        serowarnia = false;
        zarna = false;
        platkarka = false;
        beczka = false;
        mlynek = false;
    }
    private int WPortfelu(string nazwa)
    {
        var naTacy = taca.First(t => t.Nazwa == nazwa).Ilosc;
        IDar uGracza = Gracz.ProduktyZwierzece.Cast<IDar>().Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == nazwa);
        return uGracza.Ilosc - naTacy;
    }
    private void NaTace(string nazwa)
    {
        if (WPortfelu(nazwa) < 1) return;
        taca.First(t => t.Nazwa == nazwa).Ilosc++;
    }
    private void ZTacy(string nazwa)
    {
        taca.First(t => t.Nazwa == nazwa).Ilosc--;
    }
    private async Task Handel()
    {
        foreach (var produkt in taca)
        {
            if (produkt.Ilosc > 0)
            {
                IDar uGracza = Gracz.ProduktyZwierzece.Cast<IDar>().Concat(Gracz.ProduktyPrzetworzone.Cast<IDar>()).Concat(Gracz.ZywnoscPozostala.Cast<IDar>()).First(p => p.Nazwa == produkt.Nazwa);
                uGracza.Ilosc -= produkt.Ilosc;
            }
        }
        if (uzyskanaSmietana > 0)
            Gracz.ProduktP("smietana").Ilosc += uzyskanaSmietana;
        if (uzyskaneMaslo > 0)
            Gracz.ProduktP("maslo").Ilosc += uzyskaneMaslo;
        if (uzyskanyMajonez > 0)
            Gracz.ProduktP("majonez").Ilosc += uzyskanyMajonez;
        foreach (var produkt in taca)
            produkt.Ilosc = 0;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
}