@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
@inject Dzwieki dzwieki
<div class="rzezniaWidok widok rel">
    <div class="abs confirmRzeznia"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Gospodarstwo)" class="wyroznionyGuzik"><img src="img/budynki/confirmRzeznia.png" /></button></div>
    <div class="abs siekieraRzeznia @(Gracz.JestPrzedmiot("siekiera") ? "siekieraTrue" : "siekieraFalse")"><div class="abs lSiekierRzeznia">@Gracz.Przedmiot("siekiera").Ilosc</div></div>
    <div class="abs lZwierzatRzaznia lKurRzeznia">@Gracz.Zwierze("kura").Ilosc</div>
    <div class="abs lZwierzatRzaznia lGesiRzeznia">@Gracz.Zwierze("ges").Ilosc</div>
    <div class="abs lZwierzatRzaznia lIndykowRzeznia">@Gracz.Zwierze("indyk").Ilosc</div>
    <div class="abs lZwierzatRzaznia lKaczekRzeznia">@Gracz.Zwierze("kaczka").Ilosc</div>
    <div class="abs lZwierzatRzaznia lKrolikowRzeznia">@Gracz.Zwierze("krolik").Ilosc</div>
    <div class="abs lZwierzatRzaznia lOwiecRzeznia">@Gracz.Zwierze("owca").Ilosc</div>
    <div class="abs lZwierzatRzaznia lKozRzeznia">@Gracz.Zwierze("koza").Ilosc</div>
    <div class="abs lZwierzatRzaznia lSwinRzeznia">@Gracz.Zwierze("swinia").Ilosc</div>
    <div class="abs lZwierzatRzaznia lKrowRzeznia">@Gracz.Zwierze("krowa").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoKura">@Gracz.ProduktZ("kuraJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoGes">@Gracz.ProduktZ("gesJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSmalecGes">@Gracz.ProduktZ("gesSmalec").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lPioroGes">@Gracz.ProduktZ("gesPioro").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoIndyk">@Gracz.ProduktZ("indykJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoKaczka">@Gracz.ProduktZ("kaczkaJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSmalecKaczka">@Gracz.ProduktZ("kaczkaSmalec").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lPioroKaczka">@Gracz.ProduktZ("kaczkaPioro").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoKrolik">@Gracz.ProduktZ("krolikJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lFutroKrolik">@Gracz.ProduktZ("futroKrolik").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoOwca">@Gracz.ProduktZ("owcaJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSkoraOwca">@Gracz.ProduktZ("owcaSkora").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lMiesoKoza">@Gracz.ProduktZ("kozaJedzenie").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSkoraKoza">@Gracz.ProduktZ("kozaSkora").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSzynkaSwinia">@Gracz.ProduktZ("swiniaSzynka").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSchabSwinia">@Gracz.ProduktZ("swiniaSchab").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lBoczekSwinia">@Gracz.ProduktZ("swiniaBoczek").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSmalecSwinia">@Gracz.ProduktZ("swiniaSmalec").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lRostbefKrowa">@Gracz.ProduktZ("krowaRostbef").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lAntrykotKrowa">@Gracz.ProduktZ("krowaAntrykot").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lLopatkaKrowa">@Gracz.ProduktZ("krowaLopatka").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lPoledwicaKrowa">@Gracz.ProduktZ("krowaPoledwica").Ilosc</div>
    <div class="abs lDuzyProduktRzaznia lSkoraKrowa">@Gracz.ProduktZ("krowaSkora").Ilosc</div>
    <div class="abs guzikRzaznia kuraRzeznia @(Gracz.JestZwierze("kura") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("kura")'></div>
    <div class="abs guzikRzaznia gesRzeznia @(Gracz.JestZwierze("ges") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("ges")'></div>
    <div class="abs guzikRzaznia indykRzeznia @(Gracz.JestZwierze("indyk") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("indyk")'></div>
    <div class="abs guzikRzaznia kaczkaRzeznia @(Gracz.JestZwierze("kaczka") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("kaczka")'></div>
    <div class="abs guzikRzaznia krolikRzeznia @(Gracz.JestZwierze("krolik") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("krolik")'></div>
    <div class="abs guzikRzaznia owcaRzeznia @(Gracz.JestZwierze("owca") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("owca")'></div>
    <div class="abs guzikRzaznia kozaRzeznia @(Gracz.JestZwierze("koza") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("koza")'></div>
    <div class="abs guzikRzaznia swiniaRzeznia @(Gracz.JestZwierze("swinia") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("swinia")'></div>
    <div class="abs guzikRzaznia krowaRzeznia @(Gracz.JestZwierze("krowa") && Gracz.JestPrzedmiot("siekiera") ? "klikalneDivCzerwone" : "nieMoznaKliknac")" @onclick='async () => await Ubij("krowa")'></div>
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private void MiesoZwierza(string zwierz)
    {
        if (zwierz == "swinia")
        {
            Gracz.ProduktZ("swiniaSzynka").Ilosc += 5;
            Gracz.ProduktZ("swiniaSchab").Ilosc += 5;
            Gracz.ProduktZ("swiniaBoczek").Ilosc += 5;
        }
        else if (zwierz == "krowa")
        {
            Gracz.ProduktZ("krowaRostbef").Ilosc += 5;
            Gracz.ProduktZ("krowaAntrykot").Ilosc += 5;
            Gracz.ProduktZ("krowaLopatka").Ilosc += 5;
            Gracz.ProduktZ("krowaPoledwica").Ilosc += 5;
        }
        else
            Gracz.ProduktZ($"{zwierz}Jedzenie").Ilosc += 5;
    }
    private void ZwierzeGotowe(string zwierz)
    {
        if (zwierz == "swinia" || zwierz == "krolik")
            Gracz.Zwierze(zwierz).Gotowe--;
        if (zwierz == "owca")
            Gracz.Zwierze(zwierz).Gotowe = 0;
    }
    private async Task Ubij(string zwierz)
    {
        if (!Gracz.JestZwierze(zwierz) || !Gracz.JestPrzedmiot("siekiera")) return;
        Gracz.Przedmiot("siekiera").Ilosc--;
        Gracz.Zwierze(zwierz).Ilosc--;
        Gracz.Zwierze(zwierz).Nakarmione = 0;
        ZwierzeGotowe(zwierz);
        MiesoZwierza(zwierz);
        if (zwierz == "ges" || zwierz == "kaczka" || zwierz == "swinia")
            Gracz.ProduktZ($"{zwierz}Smalec").Ilosc += 2;
        if (zwierz == "ges" || zwierz == "kaczka")
            Gracz.ProduktZ($"{zwierz}Pioro").Ilosc++;
        if (zwierz == "krolik")
            Gracz.ProduktZ("futroKrolik").Ilosc++;
        if (zwierz == "owca" || zwierz == "koza" || zwierz == "krowa")
            Gracz.ProduktZ($"{zwierz}Skora").Ilosc++;
        await ladowanieGracza.ZapiszAktualnegoGracza();
        await dzwieki.GraDzwiek("mp3/Dzwieki/siekiera.mp3");
    }
}