@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
<div class="sad2Widok widok rel">
    <div class="abs stanButelekPole">@Gracz.Przedmiot("pelnaButelka").Ilosc <img class="obrazekSieMiesci" src="img/przedmioty/butelkaPelna.png" /></div>
    <div class="abs naPoleIntroZSad2"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.PoleIntro)"><img src="img/pole/naPoleIntroZSad2.png" /></button></div>
    <div class="abs doZbozaZSad2"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Zboze)"><img src="img/pole/sad2DoZboza.png" /></button></div>
    @for (int x = 1; x <= 4; x++)
    {
        var localX = x;
        @for (int y = 1; y <= 4; y++)
        {
            var localY = y;
            var drzewo = Gracz.Sady.First(p => p.Id == 2 && p.X == localX && p.Y == localY);
            <div class="@($"abs drzewo2{localX}{localY} {PojedynczaRoslina(drzewo)}")">
                <div class="abs obrysPola @(!MoznaUprawiac(drzewo) ? "nieMoznaKliknac" : "wyroznionyDiv wyroznionyZielonoDiv")" @onclick="async () => await UprawiajDrzewo(drzewo)">
                    <img class="obrazekWypelnia" src="@($"img/pole/{Roslina(drzewo)}{(drzewo.Poziom > -1 ? $"Zadban{Sufiks(drzewo)}" : $"Zaniedban{Sufiks(drzewo)}")}.png")" />
                    @if (drzewo.Poziom < 0)
                    {
                        <div class="abs ramkaSekator @(Gracz.JestPrzedmiot("sekator") ? "motykaTrue" : "motykaFalse")"></div>
                    }
                    else
                    {
                        <div class="abs ileZyskuZPola">+ @drzewo.Poziom</div>
                    }
                    <div class="abs @OwocNaPolu(drzewo)"><img class="obrazekWypelnia" src="@($"img/przedmioty/owoce/{drzewo.Owoc}.png")" /></div>
                    <div class="abs ileWarzywPole">
                        <img class="obrazekWypelnia" src="img/przedmioty/worekPole.png" />
                        <div class="abs liczbaWarzywPole">@drzewo.LiczbaPosiadanych(Gracz)</div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public Gracz Gracz { get; set; } = null!;
    [Parameter]
    public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    public static bool Palma = false;
    public static bool Krzew = false;
    public static bool Pnacze = false;
    public static bool Ziemne = false;
    private List<string> krzewowe = ["malina", "jeżyna", "borówka", "porzeczkaCzerwona", "porzeczkaCzarna", "żurawina"];
    private List<string> pnące = ["winogronoJasne", "winogronoRóżowe", "winogronoCiemne", "kiwi", "marakuja"];
    private List<string> ziemne = ["truskawka", "ananas", "arbuz", "melon"];
    private string PojedynczaRoslina(SadyGracza drzewo) => drzewo.Owoc == "banan" ? "pojedynczaPalma" : krzewowe.Contains(drzewo.Owoc) ? "pojedynczyKrzew" : pnące.Contains(drzewo.Owoc) ? "pojedynczePnacze" : "pojedynczeZiemne";
    private string Roslina(SadyGracza drzewo) => drzewo.Owoc == "banan" ? "palma" : krzewowe.Contains(drzewo.Owoc) ? "krzew" : pnące.Contains(drzewo.Owoc) ? "pnacze" : "ziemne";
    private string Sufiks(SadyGracza drzewo) => Roslina(drzewo) == "palma" ? "a" : Roslina(drzewo) == "krzew" ? "y" : "e";
    private string OwocNaPolu(SadyGracza drzewo) => drzewo.Owoc == "banan" ? "owocNaPalmie" : krzewowe.Contains(drzewo.Owoc) ? "owocNaKrzewie" : pnące.Contains(drzewo.Owoc) ? "owocNaPnaczu" : "owocNaZiemnym";
    private bool MoznaUprawiac(SadyGracza drzewo) => (drzewo.Poziom < 0 && Gracz.JestPrzedmiot("sekator")) || (drzewo.Poziom > 0 && Gracz.IloscPrzedmiotow("pelnaButelka") > 0);
    public async Task UprawiajDrzewo(SadyGracza drzewo)
    {
        if (!MoznaUprawiac(drzewo)) return;
        if (drzewo.Poziom < 0 && Gracz.JestPrzedmiot("sekator"))
        {
            Palma = false;
            Krzew = false;
            Pnacze = false;
            Ziemne = false;
            if (drzewo.Owoc == "banan") Palma = true;
            if (krzewowe.Contains(drzewo.Owoc)) Krzew = true;
            if (pnące.Contains(drzewo.Owoc)) Pnacze = true;
            if (ziemne.Contains(drzewo.Owoc)) Ziemne = true;
            bool standard = !Palma && !Krzew && !Pnacze && !Ziemne;
            drzewo.Poziom = 0;
            Gracz.Przedmioty.RemoveAll(p => p.Nazwa == "sekator");
            await NaZmianeEkranu.InvokeAsync(EkranGry.CzyszczenieDrzewa);
            if (standard)
                await Task.Delay(8000);
            else
                await Task.Delay(5000);
            await NaZmianeEkranu.InvokeAsync(EkranGry.Sad2);
        }
        else
        {
            Gracz.Owoce.First(o => o.Nazwa == drzewo.Owoc).Ilosc += drzewo.Poziom;
            Gracz.Przedmiot("pelnaButelka").Ilosc--;
            Gracz.Przedmiot("pustaButelka").Ilosc++;
        }
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
}