@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
@implements IDisposable
<div class="stacja@(stacja)Widok widok rel @(wyswietlonyRozklad ? "blokadaKlikniec" : "")">
    <div class="abs wyjscieStacja@(stacja)"><button class="wyroznionyGuzik" @onclick="async () => await NaZmianeEkranu.InvokeAsync(Wyjscie)"><img src="img/miasto/stacje/confirmStacja@(stacja).png" /></button></div>
    <div class="abs kupBiletStacja@(stacja) @(Gracz.Monety < cenaBiletu ? "nieMoznaKliknac" : "klikalneDivZielone")" @onclick="KupBilet"><img src="img/miasto/stacje/kupBiletStacja@(stacja).png" /></div>
    <div class="abs ileBiletowLKazdeMiasto ileBiletowL@(stacja)">@Gracz.Przedmiot("biletPociag").Ilosc</div>
    <div class="abs ileBiletowKazdeMiasto"><img class="obrazekContain" src="img/przedmioty/biletPociag.png" /></div>
    <div class="abs stacjaCzas stacjaCzas@(stacja)">@czas</div>
    <div class="abs zobaczRozkladStacji@(stacja)"><button class="wyroznionyGuzik" @onclick="() => wyswietlonyRozklad = true"><img src="img/miasto/stacje/zobaczRozkladStacja@(stacja).png" /></button></div>
    @if (stacja == "miasto3")
    {
        <div class="abs zaslonaPociagu1miasto3"><img src="img/miasto/stacje/latarnia1Miasto3.png" /></div>
        <div class="abs zaslonaPociagu2miasto3"><img src="img/miasto/stacje/latarnia2Miasto3.png" /></div>
        <div class="abs zaslonaPociagu3miasto3"><img src="img/miasto/stacje/daszekMiasto3.png" /></div>
        <div class="abs pociagKazdyAnimacja pociag1@(stacja)Animacja @pociagi[1].klasa" @onclick="() => WsiadzDoPociagu(1)">
            <img class="obrazekWypelnia" src="img/miasto/pociag.png" />
            <div class="abs celPociagu"><img class="obrazekContain" src="img/miasto/stacje/miastoLesneLabel.png" /></div>
        </div>
        <div class="abs pociagKazdyAnimacja pociag3@(stacja)Animacja @pociagi[3].klasa" @onclick="() => WsiadzDoPociagu(3)">
            <img class="obrazekWypelnia" src="img/miasto/pociag.png" />
            <div class="abs celPociagu"><img class="obrazekContain" src="img/miasto/stacje/miastoBialeLabel.png" /></div>
        </div>
    }
    @if (stacja == "miastoLesne")
    {
        <div class="abs zaslonaPociagu1miastoLesne"><img src="img/miasto/stacje/latarniaMiastoLesne.png" /></div>
        <div class="abs zaslonaPociagu2miastoLesne"><img src="img/miasto/stacje/daszekMiastoLesne.png" /></div>
        <div class="abs pociagKazdyAnimacja pociag2@(stacja)Animacja @pociagi[2].klasa" @onclick="() => WsiadzDoPociagu(2)">
            <img class="obrazekWypelnia" src="img/miasto/pociag.png" />
            <div class="abs celPociagu"><img class="obrazekContain" src="img/miasto/stacje/miasto3Label.png" /></div>
        </div>
        <div class="abs pociagKazdyAnimacja pociag5@(stacja)Animacja @pociagi[5].klasa" @onclick="() => WsiadzDoPociagu(5)">
            <img class="obrazekWypelnia" src="img/miasto/pociag.png" />
            <div class="abs celPociagu"><img class="obrazekContain" src="img/miasto/stacje/miastoBialeLabel.png" /></div>
        </div>
    }
    @if (stacja == "miastoBiale")
    {
        <div class="abs zaslonaPociagu1miastoBiale"><img class="obrazekContain" src="img/miasto/stacje/rozkladZaslaniaMiastoBiale.png" /></div>
        <div class="abs zaslonaPociagu2miastoBiale"><img class="obrazekContain" src="img/miasto/stacje/daszekMiastoBiale.png" /></div>
        <div class="abs pociagKazdyAnimacja pociag4@(stacja)Animacja @pociagi[4].klasa" @onclick="() => WsiadzDoPociagu(4)">
            <img class="obrazekWypelnia" src="img/miasto/pociag.png" />
            <div class="abs celPociagu"><img class="obrazekContain" src="img/miasto/stacje/miasto3Label.png" /></div>
        </div>
        <div class="abs pociagKazdyAnimacja pociag6@(stacja)Animacja @pociagi[6].klasa" @onclick="() => WsiadzDoPociagu(6)">
            <img class="obrazekWypelnia" src="img/miasto/pociag.png" />
            <div class="abs celPociagu"><img class="obrazekContain" src="img/miasto/stacje/miastoLesneLabel.png" /></div>
        </div>
    }
</div>
@if (wyswietlonyRozklad)
{
    <div class="abs overlayRoklady">
        <div class="abs wypisaneRozklady">
            @if (stacja == "miasto3")
            {
                <div class="rozkladPociagu1">
                    <div><img src="img/miasto/stacje/miastoLesneLabel.png" /></div>
                    @for (int i = 0; i < odjazdyMiasto3DoMiastaLesnego.Length; i++)
                    {
                        <div>@odjazdyMiasto3DoMiastaLesnego[i]</div>
                    }
                </div>
                <div class="rozkladPociagu1">
                    <div><img src="img/miasto/stacje/miastoBialeLabel.png" /></div>
                    @for (int i = 0; i < odjazdyMiasto3DoMiastoBiale.Length; i++)
                    {
                        <div>@odjazdyMiasto3DoMiastoBiale[i]</div>
                    }
                </div>
            }
            @if (stacja == "miastoLesne")
            {
                <div class="rozkladPociagu1">
                    <div><img src="img/miasto/stacje/miasto3Label.png" /></div>
                    @for (int i = 0; i < odjazdyMiastoLesneDoMiasta3.Length; i++)
                    {
                        <div>@odjazdyMiastoLesneDoMiasta3[i]</div>
                    }
                </div>
                <div class="rozkladPociagu1">
                    <div><img src="img/miasto/stacje/miastoBialeLabel.png" /></div>
                    @for (int i = 0; i < odjazdyMiastoLesneDoMiastoBiale.Length; i++)
                    {
                        <div>@odjazdyMiastoLesneDoMiastoBiale[i]</div>
                    }
                </div>
            }
            @if (stacja == "miastoBiale")
            {
                <div class="rozkladPociagu1">
                    <div><img src="img/miasto/stacje/miasto3Label.png" /></div>
                    @for (int i = 0; i < odjazdyMiastoBialeDoMiasta3.Length; i++)
                    {
                        <div>@odjazdyMiastoBialeDoMiasta3[i]</div>
                    }
                </div>
                <div class="rozkladPociagu1">
                    <div><img src="img/miasto/stacje/miastoLesneLabel.png" /></div>
                    @for (int i = 0; i < odjazdyMiastoBialeDoMiastoLesne.Length; i++)
                    {
                        <div>@odjazdyMiastoBialeDoMiastoLesne[i]</div>
                    }
                </div>
            }
        </div>
        <div class="abs zamknijRozklady"><button class="wyroznionyGuzik" @onclick="() => wyswietlonyRozklad = false"><img class="obrazekContain" src="img/dom/potwierdzenie.png" /></button></div>
    </div>
}
@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private CancellationTokenSource? _ctsZegar;
    private string stacja => Gracz.Statystyki.Stacja;
    private int czas = 0;
    private bool wyswietlonyRozklad = false;
    private int[] odjazdyMiasto3DoMiastaLesnego = [10, 25, 35, 60, 90];
    private int[] odjazdyMiastoLesneDoMiasta3 = [10, 25, 55, 85];
    private int[] odjazdyMiasto3DoMiastoBiale = [15, 45, 75];
    private int[] odjazdyMiastoBialeDoMiasta3 = [10, 20, 30, 80];
    private int[] odjazdyMiastoLesneDoMiastoBiale = [50];
    private int[] odjazdyMiastoBialeDoMiastoLesne = [50];
    private Dictionary<int, (string klasa, bool moznaWsiasc)> pociagi = new()
    {
        {1, ("", false)}, {2, ("", false)}, {3, ("", false)}, {4, ("", false)}, {5, ("", false)}, {6, ("", false)}
    };
    protected override void OnParametersSet()
    {
        AktualizujPociagi();
        if (_ctsZegar == null)
        {
            _ctsZegar = new CancellationTokenSource();
            _ = Zegar(_ctsZegar.Token);
        }
    }
    private async Task Zegar(CancellationToken token)
    {
        try
        {
            while (!token.IsCancellationRequested)
            {
                await Task.Delay(800, token);
                czas = (czas + 1) % 100;
                AktualizujPociagi();
                StateHasChanged();
            }
        }
        catch (TaskCanceledException) { }
    }
    private void AktualizujPociagi()
    {
        if (stacja == "miasto3")
        {
            pociagi[1] = StanPociagu("pociag1", odjazdyMiasto3DoMiastaLesnego);
            pociagi[3] = StanPociagu("pociag3", odjazdyMiasto3DoMiastoBiale);
        }
        if (stacja == "miastoLesne")
        {
            pociagi[2] = StanPociagu("pociag2", odjazdyMiastoLesneDoMiasta3);
            pociagi[5] = StanPociagu("pociag5", odjazdyMiastoLesneDoMiastoBiale);
        }
        if (stacja == "miastoBiale")
        {
            pociagi[4] = StanPociagu("pociag4", odjazdyMiastoBialeDoMiasta3);
            pociagi[6] = StanPociagu("pociag6", odjazdyMiastoBialeDoMiastoLesne);
        }
    }
    private EkranGry Wyjscie => stacja switch { "miasto3" => EkranGry.Miasto3, "miastoLesne" => EkranGry.MiastoLesne, "miastoBiale" => EkranGry.MiastoBiale, _ => throw new ArgumentOutOfRangeException() };
    private string CelPociagu(int nrPociagu) => nrPociagu switch { 1 or 6 => "miastoLesne", 2 or 4 => "miasto3", 3 or 5 => "miastoBiale", _ => throw new ArgumentOutOfRangeException() };
    private int cenaBiletu => stacja == "miasto3" ? 7 : 10;
    private async Task KupBilet()
    {
        if (Gracz.Monety < cenaBiletu) return;
        Gracz.Monety -= cenaBiletu;
        Gracz.Przedmiot("biletPociag").Ilosc++;
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    public async Task WsiadzDoPociagu(int nrPociagu)
    {
        if (Gracz.Przedmiot("biletPociag").Ilosc < 1 || !pociagi[nrPociagu].moznaWsiasc) return;
        Gracz.Przedmiot("biletPociag").Ilosc--;
        czas = 0;
        Gracz.Statystyki.Stacja = CelPociagu(nrPociagu);
        await ladowanieGracza.ZapiszAktualnegoGracza();
    }
    private (string, bool) StanPociagu(string nazwa, int[] rozklad)
    {
        foreach (var odjazd in rozklad)
        {
            var offset = (czas - odjazd + 100) % 100;
            if (offset is 97 or 98 or 99)
                return ("kazdyPociagJedzie", false);
            if (offset is 0 or 1 or 2)
                return ("kazdyPociagStoi", true);
            if (offset is 3 or 4 or 5)
                return ($"kazdyPociagOdjedzie {nazwa}{stacja}Odjedzie", false);
        }
        return ($"kazdyPociagUkryty {nazwa}{stacja}Ukryty", false);
    }
    public void Dispose()
    {
        _ctsZegar?.Cancel();
    }
}