@using Dziekanowka.Mechanizm
@using Dziekanowka.Gracza
@inject LadowanieGracza ladowanieGracza
@inject Dzwieki dzwieki
@implements IDisposable
<div class="zwierzyniecWidok widok rel">
    <div class="abs doGospodarstwaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Gospodarstwo)" class="wyroznionyGuzik"><img src="img/zwierzyniec/doGospodarstwa.png" /></button></div>
    <div class="abs doKurnikaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Kurnik)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoKurnik.png" /></button></div>
    <div class="abs doGesiarniGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Gesiarnia)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoGesiarnia.png" /></button></div>
    <div class="abs doIndyczarniGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Indyczarnia)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoIndyczarnia.png" /></button></div>
    <div class="abs doKacznikGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Kacznik)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoKacznik.png" /></button></div>
    <div class="abs doKrolikarniaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Krolikarnia)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoKrolikarnia.png" /></button></div>
    <div class="abs doChlewGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Chlew)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoChlew.png" /></button></div>
    <div class="abs doKoziarniaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Koziarnia)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoKoziarnia.png" /></button></div>
    <div class="abs doOboraGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Obora)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoObora.png" /></button></div>
    <div class="abs doStajniaGuzik"><button @onclick="async () => await NaZmianeEkranu.InvokeAsync(EkranGry.Stajnia)" class="wyroznionyGuzik"><img src="img/zwierzyniec/zwierzyniecDoStajnia.png" /></button></div>
    <div class="abs terenKoniaPrzedStajnia"><img class="abs konPrzedStajnia obrazekSieMiesci" src="img/zwierzyniec/kon.png" style="@StylKonia()" /></div>
    @if (Gracz.JestZwierze("kura"))
    {
        <div class="abs terenKuryPrzedKurnikiem"><img class="abs kuraPrzedKurnikiem obrazekSieMiesci" src="img/zwierzyniec/kura.png" style="@StylKury()" /></div>
    }
    @if (Gracz.JestZwierze("ges"))
    {
        <div class="abs terenGesiPrzedGesiarnia"><img class="abs gesPrzedGesiarnia obrazekSieMiesci" src="img/zwierzyniec/ges.png" style="@StylGesi()" /></div>
    }
    @if (Gracz.JestZwierze("indyk"))
    {
        <div class="abs terenIndykaPrzedIndyczarnia"><img class="abs indykPrzedIndyczarnia obrazekSieMiesci" src="img/zwierzyniec/indyk.png" style="@StylIndyka()" /></div>
    }
    @if (Gracz.JestZwierze("kaczka"))
    {
        <div class="abs terenKaczkiPrzedKacznikiem"><img class="abs kaczkaPrzedKacznikiem obrazekSieMiesci" src="img/zwierzyniec/kaczkaPlynie.png" style="@StylKaczki()" /></div>
    }
    @if (Gracz.JestZwierze("krolik"))
    {
        <div class="abs swiatloKrolikarni"><img class="obrazekSieMiesci" src="img/zwierzyniec/swiatloKrolikarnia.png" /></div>
    }
    @if (Gracz.JestZwierze("swinia"))
    {
        <div class="abs terenSwiniPrzedChlewem"><img class="abs swiniaPrzedChlewem obrazekSieMiesci" src="img/zwierzyniec/swinia.png" style="@StylSwini()" /></div>
    }
    @if (Gracz.JestZwierze("koza"))
    {
        <div class="abs terenKozyPrzedKoziarnia"><img class="abs kozaPrzedKoziarnia obrazekSieMiesci" src="img/zwierzyniec/koza.png" style="@StylKozy()" /></div>
    }
    @if (Gracz.JestZwierze("krowa"))
    {
        <div class="abs terenKrowyPrzedObora"><img class="abs krowaPrzedObora obrazekSieMiesci" src="img/zwierzyniec/krowa.png" style="@StylKrowy()" /></div>
    }
</div>

@code {
    [Parameter] public Gracz Gracz { get; set; } = null!;
    [Parameter] public EventCallback<EkranGry> NaZmianeEkranu { get; set; }
    private double xKury = 20, xGesi = 20, xIndyka = 20, xKaczki = 20, xSwini = 20, xKozy = 20, xKrowy = 20, xKonia = 20;
    private double yKury = 20, yGesi = 10, yIndyka = 10, yKaczki = 0, ySwini = 10, yKozy = 10, yKrowy = 10, yKonia = 10;
    private double czasKury = 2, czasGesi = 2, czasIndyka = 2, czasKaczki = 2, czasSwini = 3, czasKozy = 3, czasKrowy = 4, czasKonia = 4;
    private bool kuraWLewo = false, gesWLewo = false, indykWLewo = false, kaczkaWLewo = false, swiniaWLewo = false, kozaWLewo = false, krowaWLewo = false, konWLewo = false;
    private System.Threading.Timer? timerDzwiekKury, timerDzwiekGesi, timerDzwiekIndyka, timerDzwiekKaczki, timerDzwiekSwini, timerDzwiekKozy, timerDzwiekKrowy, timerDzwiekKonia, timer, timerGesi, timerIndyka, timerKaczki, timerSwini, timerKozy, timerKrowy, timerKonia;
    private Random random = new Random();
    protected override void OnInitialized()
    {
        SpacerowanieKury();
        SpacerowanieGesi();
        SpacerowanieIndyka();
        SpacerowanieKaczki();
        SpacerowanieSwini();
        SpacerowanieKozy();
        SpacerowanieKrowy();
        SpacerowanieKonia();
        DzwiekKonia();
        if (Gracz.JestZwierze("kura"))
            GdakanieKury();
        if (Gracz.JestZwierze("ges"))
            GeganieGesi();
        if (Gracz.JestZwierze("indyk"))
            GulgotanieIndyka();
        if (Gracz.JestZwierze("kaczka"))
            KwakanieKaczki();
        if (Gracz.JestZwierze("swinia"))
            KwikSwini();
        if (Gracz.JestZwierze("koza"))
            BekKozy();
        if (Gracz.JestZwierze("krowa"))
            RykKrowy();
    }
    private void GdakanieKury() => timerDzwiekKury = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/kuraGdacze.mp3"); } catch {}
    }, null, TimeSpan.FromSeconds(6), TimeSpan.FromSeconds(7));
    private void GeganieGesi() => timerDzwiekGesi = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/geganieGesi.mp3"); } catch {}
    }, null, TimeSpan.FromSeconds(5), TimeSpan.FromSeconds(9));
    private void GulgotanieIndyka() => timerDzwiekIndyka = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/indykGulgocze.mp3"); } catch { }
    }, null, TimeSpan.FromSeconds(4), TimeSpan.FromSeconds(11));
    private void KwakanieKaczki() => timerDzwiekKaczki = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/kaczkaKwacze.mp3"); } catch { }
    }, null, TimeSpan.FromSeconds(3), TimeSpan.FromSeconds(8));
    private void KwikSwini() => timerDzwiekSwini = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/kwikSwini.mp3"); } catch { }
    }, null, TimeSpan.FromSeconds(5), TimeSpan.FromSeconds(10));
    private void BekKozy() => timerDzwiekKozy = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/bekKozy.mp3"); } catch { }
    }, null, TimeSpan.FromSeconds(7), TimeSpan.FromSeconds(12));
    private void RykKrowy() => timerDzwiekKrowy = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/rykKrowy.mp3"); } catch { }
    }, null, TimeSpan.FromSeconds(4), TimeSpan.FromSeconds(12));
    private void DzwiekKonia() => timerDzwiekKonia = new System.Threading.Timer(async _ =>
    {
        try { await dzwieki.GraDzwiek("mp3/Dzwieki/kon.mp3"); } catch { }
    }, null, TimeSpan.FromSeconds(3), TimeSpan.FromSeconds(13));
    private string StylKury() => $"left: {xKury}px; top: {yKury}px; transform: scaleX({(kuraWLewo ? -1 : 1)}); transition: left {czasKury}s ease-in-out, top {czasKury}s ease-in-out;";
    private string StylGesi() => $"left: {xGesi}px; top: {yGesi}px; transform: scaleX({(gesWLewo ? 1 : -1)}); transition: left {czasGesi}s ease-in-out, top {czasGesi}s ease-in-out;";
    private string StylIndyka() => $"left: {xIndyka}px; top: {yIndyka}px; transform: scaleX({(indykWLewo ? -1 : 1)}); transition: left {czasIndyka}s ease-in-out, top {czasIndyka}s ease-in-out;";
    private string StylKaczki() => $"left: {xKaczki}px; top: {yKaczki}px; transform: scaleX({(kaczkaWLewo ? -1 : 1)}); transition: left {czasKaczki}s ease-in-out, top {czasKaczki}s ease-in-out;";
    private string StylSwini() => $"left: {xSwini}px; top: {ySwini}px; transform: scaleX({(swiniaWLewo ? -1 : 1)}); transition: left {czasSwini}s ease-in-out, top {czasSwini}s ease-in-out;";
    private string StylKozy() => $"left: {xKozy}px; top: {yKozy}px; transform: scaleX({(kozaWLewo ? -1 : 1)}); transition: left {czasKozy}s ease-in-out, top {czasKozy}s ease-in-out;";
    private string StylKrowy() => $"left: {xKrowy}px; top: {yKrowy}px; transform: scaleX({(krowaWLewo ? 1 : -1)}); transition: left {czasKrowy}s ease-in-out, top {czasKrowy}s ease-in-out;";
    private string StylKonia() => $"left: {xKonia}px; top: {yKonia}px; transform: scaleX({(konWLewo ? 1 : -1)}); transition: left {czasKonia}s ease-in-out, top {czasKonia}s ease-in-out;";
    private void SpacerowanieKury() => timer = new System.Threading.Timer(async _ => { await ZmienPozycjeKury(); SpacerowanieKury(); }, null, TimeSpan.FromSeconds(random.Next(3, 8)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieGesi() => timerGesi = new System.Threading.Timer(async _ => { await ZmienPozycjeGesi(); SpacerowanieGesi(); }, null, TimeSpan.FromSeconds(random.Next(4, 9)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieIndyka() => timerIndyka = new System.Threading.Timer(async _ => { await ZmienPozycjeIndyka(); SpacerowanieIndyka(); }, null, TimeSpan.FromSeconds(random.Next(5, 11)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieKaczki() => timerKaczki = new System.Threading.Timer(async _ => { await ZmienPozycjeKaczki(); SpacerowanieKaczki(); }, null, TimeSpan.FromSeconds(random.Next(4, 7)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieSwini() => timerSwini = new System.Threading.Timer(async _ => { await ZmienPozycjeSwini(); SpacerowanieSwini(); }, null, TimeSpan.FromSeconds(random.Next(6, 12)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieKozy() => timerKozy = new System.Threading.Timer(async _ => { await ZmienPozycjeKozy(); SpacerowanieKozy(); }, null, TimeSpan.FromSeconds(random.Next(4, 7)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieKrowy() => timerKrowy = new System.Threading.Timer(async _ => { await ZmienPozycjeKrowy(); SpacerowanieKrowy(); }, null, TimeSpan.FromSeconds(random.Next(7, 12)), Timeout.InfiniteTimeSpan);
    private void SpacerowanieKonia() => timerKonia = new System.Threading.Timer(async _ => { await ZmienPozycjeKonia(); SpacerowanieKonia(); }, null, TimeSpan.FromSeconds(random.Next(6, 13)), Timeout.InfiniteTimeSpan);
    private async Task ZmienPozycjeKury()
    {
        var nowaX = random.Next(0, 160);
        kuraWLewo = nowaX < xKury;
        xKury = nowaX;
        yKury = random.Next(0, 80);
        czasKury = random.Next(2, 5);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeGesi()
    {
        var nowaX = random.Next(0, 100);
        gesWLewo = nowaX < xGesi;
        xGesi = nowaX;
        yGesi = random.Next(0, 40);
        czasGesi = random.Next(2, 5);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeIndyka()
    {
        var nowaX = random.Next(0, 230);
        indykWLewo = nowaX < xIndyka;
        xIndyka = nowaX;
        yIndyka = random.Next(0, 50);
        czasIndyka = random.Next(2, 5);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeKaczki()
    {
        var nowaX = random.Next(0, 60);
        kaczkaWLewo = nowaX < xKaczki;
        xKaczki = nowaX;
        czasKaczki = random.Next(2, 5);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeSwini()
    {
        var nowaX = random.Next(0, 110);
        swiniaWLewo = nowaX < xSwini;
        xSwini = nowaX;
        ySwini = random.Next(0, 10);
        czasSwini = random.Next(3, 5);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeKozy()
    {
        var nowaX = random.Next(0, 521);
        kozaWLewo = nowaX < xKozy;
        xKozy = nowaX;
        yKozy = random.Next(0, 77);
        czasKozy = random.Next(3, 6);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeKrowy()
    {
        var nowaX = random.Next(0, 110);
        krowaWLewo = nowaX < xKrowy;
        xKrowy = nowaX;
        yKrowy = random.Next(0, 30);
        czasKrowy = random.Next(4, 6);
        await InvokeAsync(StateHasChanged);
    }
    private async Task ZmienPozycjeKonia()
    {
        var nowaX = random.Next(0, 200);
        konWLewo = nowaX < xKonia;
        xKonia = nowaX;
        yKonia = random.Next(0, 20);
        czasKonia = random.Next(4, 6);
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        timer?.Dispose();
        timerGesi?.Dispose();
        timerIndyka?.Dispose();
        timerKaczki?.Dispose();
        timerSwini?.Dispose();
        timerKozy?.Dispose();
        timerKrowy?.Dispose();
        timerKonia?.Dispose();
        timerDzwiekKury?.Dispose();
        timerDzwiekGesi?.Dispose();
        timerDzwiekIndyka?.Dispose();
        timerDzwiekKaczki?.Dispose();
        timerDzwiekSwini?.Dispose();
        timerDzwiekKozy?.Dispose();
        timerDzwiekKrowy?.Dispose();
        timerDzwiekKonia?.Dispose();
    }
}