@using Dziekanowka.Rozgrywki
<div class="abs partiaSzachy @KlasaCss">
    <div class="obrazSzachownicy">
        @foreach (var pole in Partia.Plansza)
        {
            var kolumna = Odwrocona ? 9 - pole.X : pole.X;
            var rzad = Odwrocona ? pole.Y : 9 - pole.Y;
            if (pole.Bierka != "")
            {
                <img class="@KlasaBierki(pole)" src="img/dom/salon/szachy/@(pole.Bierka).png" style="@($"grid-column: {kolumna}; grid-row: {rzad};")" @onclick="async () => await PoleKlik(pole)" />
            }
            else
            {
                <div class="@KlasaPustegoPola(pole)" style="@($"grid-column: {kolumna}; grid-row: {rzad};")" @onclick="async () => await PoleKlik(pole)"></div>
            }
        }
    </div>
    <div class="rel menuSzachisty">
        <div class="abs klikSzachy poddajSieSzachy"><img class="obrazekSieMiesci" src="img/dom/salon/porazka.png" /></div>
        <div class="abs klikSzachy proponujRemisSzachy"><img class="obrazekSieMiesci" src="img/dom/salon/remis.png" /></div>
    </div>
</div>

@code {
    [Parameter] public PartiaSzachow Partia { get; set; } = null!;
    [Parameter] public string KlasaCss { get; set; } = "";
    [Parameter] public bool Odwrocona { get; set; } = false;
    [Parameter] public SerwisSzachowy Serwis { get; set; } = null!;
    private PoleSzachownicy? wybranaBierka;
    private List<PoleSzachownicy> mozliweRuchy = [];
    private string KlasaBierki(PoleSzachownicy pole)
    {
        var klasy = new List<string> { "bierka" };
        if (wybranaBierka?.X == pole.X && wybranaBierka?.Y == pole.Y)
            klasy.Add("zaznaczonaBierka");
        if (Partia.OstatniRuchX == pole.X && Partia.OstatniRuchY == pole.Y)
            klasy.Add("poprzedniRuchTutaj");
        if (mozliweRuchy.Any(p => p.X == pole.X && p.Y == pole.Y))
            klasy.Add("mozliwyRuch");
        return string.Join(" ", klasy);
    }
    private string KlasaPustegoPola(PoleSzachownicy pole)
    {
        var klasy = new List<string> { "poleSzachownicy" };
        if (mozliweRuchy.Any(p => p.X == pole.X && p.Y == pole.Y))
            klasy.Add("mozliwyRuch");
        return string.Join(" ", klasy);
    }
    private async Task PoleKlik(PoleSzachownicy pole)
    {
        if (Partia.RuchBialych == Odwrocona) return;
        if (wybranaBierka == null)
        {
            if (pole.Bierka != "" && pole.Bierka.EndsWith("Bialy") == Partia.RuchBialych)
            {    
                wybranaBierka = pole;
                mozliweRuchy = MechanizmSzachow.MozliweRuchy(pole, Partia.Plansza);
            }
            return;
        }
        if (wybranaBierka.X == pole.X && wybranaBierka.Y == pole.Y)
        {
            wybranaBierka = null;
            mozliweRuchy = [];
            return;
        }
        if (pole.Bierka != "" && wybranaBierka.Bierka.EndsWith("Bialy") == pole.Bierka.EndsWith("Bialy"))
        {
            wybranaBierka = pole;
            mozliweRuchy = MechanizmSzachow.MozliweRuchy(pole, Partia.Plansza);
            return;
        }
        if (!mozliweRuchy.Any(p => p.X == pole.X && p.Y == pole.Y)) return;
        var docelowePole = pole;
        docelowePole.Bierka = wybranaBierka.Bierka;
        Partia.OstatniRuchX = docelowePole.X;
        Partia.OstatniRuchY = docelowePole.Y;
        Partia.RuchBialych = !Partia.RuchBialych;
        Partia.OstatniStartX = wybranaBierka.X;
        Partia.OstatniStartY = wybranaBierka.Y;
        Partia.OstatniaBierka = wybranaBierka.Bierka;
        wybranaBierka.Bierka = "";
        wybranaBierka = null;
        mozliweRuchy = [];
        await Serwis.ZapiszPartie(Partia);
    }
}